.auction-one-page {
  .auction {
    margin-bottom: 30px;

    &__inner {
      padding: 34px 23px 45px 31px;
      background-color: $white;
      border-radius: 24px;
    }

    &__top {
      display: flex;
      align-items: center;
      padding-bottom: 32px;
      border-bottom: 1px solid rgba(143, 195, 216, 0.4);

      p {
        padding-left: 17px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: $black;
      }

      span {
        font-weight: 700;
      }
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
      padding-top: 20px;
    }

    &__list {
      margin-bottom: 20px;
      padding: 26px 20px 30px 60px;
      background-color: $blue-bg;
      border-radius: 10px;
      color: $black;

      &:nth-child(1) {
        width: 40%;
        margin-right: 18px;

        li {
          font-weight: 500;

          &:nth-child(1) {
            margin-bottom: 10px;
          }

          &:nth-child(2) {
            margin-bottom: 24px;
          }

          &:nth-child(3) {
            margin-bottom: 30px;
          }

        }
      }

      &:nth-child(2) {
        width: 53%;
        padding-left: 38px;

        li {
          display: flex;

          &:not(:last-child) {
            margin-bottom: 30px;
          }

          b {
            width: 220px;
            margin-right: 50px;
          }

          p {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: $green-blue;
            position: relative;

            &::before {
              content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.5 15.9C11.6421 15.9 15 12.5422 15 8.40002C15 4.25789 11.6421 0.900024 7.5 0.900024C3.35786 0.900024 0 4.25789 0 8.40002C0 12.5422 3.35786 15.9 7.5 15.9Z' fill='white'/%3e%3cpath d='M7.5 15.9C3.4 15.9 0 12.5 0 8.40002C0 4.30002 3.4 0.900024 7.5 0.900024C11.6 0.900024 15 4.30002 15 8.40002C15 12.5 11.6 15.9 7.5 15.9ZM7.5 1.90002C3.9 1.90002 1 4.80002 1 8.40002C1 12 3.9 14.9 7.5 14.9C11.1 14.9 14 12 14 8.40002C14 4.80002 11.1 1.90002 7.5 1.90002Z' fill='%23337390'/%3e%3cpath d='M11.932 5.59173C12.0478 5.29223 11.7933 4.89829 11.4723 4.8911C11.3746 4.88891 11.2801 4.92112 11.2012 5.00001L9.77239 6.08128C8.41252 7.11037 6.55033 7.16607 5.13137 6.22012C4.9118 6.07373 4.69185 5.84331 4.43492 5.90355C4.31539 5.93157 4.19685 6.00435 4.10119 6.10001C3.73024 6.47097 4.42108 6.94656 4.85759 7.23756L7.12094 8.74647C7.17329 8.78137 7.26629 8.80631 7.32039 8.83843C7.39307 8.88159 7.44976 8.90753 7.53277 8.89157C7.57698 8.88307 7.62119 8.866 7.6654 8.83172C7.69058 8.81219 7.71402 8.7904 7.73952 8.77128L11.4327 6.00137C11.6106 5.86799 11.8519 5.79909 11.932 5.59173Z' fill='%23337390'/%3e%3c/svg%3e ");
              position: absolute;
              left: -25px;
            }


          }

          span {
            font-weight: 400;
            text-transform: uppercase;
          }
        }
      }

      &:nth-child(3) {
        width: 94.5%;
        padding-top: 15px;

        li {
          display: flex;

          &:not(:last-child) {
            margin-bottom: 26px;
          }

          &:first-child {
            position: relative;
            margin-bottom: 40px;
          }

          h5 {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: $green-blue;

            &:first-of-type {
              min-width: 175px;
              width: 175px;
              margin-right: 55px;
            }
          }

          b {
            min-width: 175px;
            width: 175px;
            margin-right: 87px;
          }

          span {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
          }

          a {
            display: block;
            width: max-content;
            padding-top: 5px;
            font-weight: 500;
            line-height: 17px;
            color: $green-blue;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    &__icon {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 2px;
        left: -35px;
      }

      &._wallet {
        &::before {
          content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4 1.30005H14C15.1 1.30005 16 2.20005 16 3.30005V11.3C16 12.4 15.1 13.3 14 13.3H4C2.9 13.3 2 12.4 2 11.3V3.30005C2 2.10005 2.9 1.30005 4 1.30005Z' fill='white'/%3e%3cpath d='M14 13.8H4C2.6 13.8 1.5 12.7 1.5 11.3V3.30005C1.5 1.90005 2.6 0.800049 4 0.800049H14C15.4 0.800049 16.5 1.90005 16.5 3.30005V11.3C16.5 12.6 15.4 13.8 14 13.8ZM4 1.80005C3.2 1.80005 2.5 2.50005 2.5 3.30005V11.3C2.5 12.1 3.2 12.8 4 12.8H14C14.8 12.8 15.5 12.1 15.5 11.3V3.30005C15.5 2.50005 14.8 1.80005 14 1.80005H4Z' fill='%23337390'/%3e%3cpath d='M3 1.30005H12C13.1 1.30005 14 2.20005 14 3.30005V11.3C14 12.4 13.1 13.3 12 13.3H3C1.9 13.3 1 12.4 1 11.3V3.30005C1 2.10005 1.9 1.30005 3 1.30005Z' fill='white'/%3e%3cpath d='M12 13.8H3C1.6 13.8 0.5 12.7 0.5 11.3V3.30005C0.5 1.90005 1.6 0.800049 3 0.800049H12C13.4 0.800049 14.5 1.90005 14.5 3.30005V11.3C14.5 12.6 13.4 13.8 12 13.8ZM3 1.80005C2.2 1.80005 1.5 2.50005 1.5 3.30005V11.3C1.5 12.1 2.2 12.8 3 12.8H12C12.8 12.8 13.5 12.1 13.5 11.3V3.30005C13.5 2.50005 12.8 1.80005 12 1.80005H3Z' fill='%23337390'/%3e%3cpath d='M11.5 5.80005H16.5C16.8 5.80005 17 6.00005 17 6.30005V8.30005C17 8.60005 16.8 8.80005 16.5 8.80005H11.5C10.7 8.80005 10 8.10005 10 7.30005C10 6.40005 10.7 5.80005 11.5 5.80005Z' fill='white'/%3e%3cpath d='M16.5 9.30005H11.5C10.4 9.30005 9.5 8.40005 9.5 7.30005C9.5 6.20005 10.4 5.30005 11.5 5.30005H16.5C17.1 5.30005 17.5 5.70005 17.5 6.30005V8.30005C17.5 8.80005 17.1 9.30005 16.5 9.30005ZM11.5 6.30005C10.9 6.30005 10.5 6.70005 10.5 7.30005C10.5 7.90005 10.9 8.30005 11.5 8.30005H16.5V6.30005H11.5Z' fill='%23337390'/%3e%3cpath d='M2.99922 10.1C2.89922 10.1 2.69922 10.1 2.59922 10C2.39922 9.80001 2.39922 9.49999 2.59922 9.29999L3.49922 8.4C3.69922 8.2 3.99922 8.2 4.19922 8.4C4.39922 8.6 4.39922 8.90001 4.19922 9.10001L3.29922 10C3.29922 10.1 3.09922 10.1 2.99922 10.1Z' fill='%23707070'/%3e%3cpath d='M7.10078 6.30005C7.00078 6.30005 6.80078 6.30008 6.70078 6.20008C6.50078 6.00008 6.50078 5.70007 6.70078 5.50007L7.60078 4.60007C7.80078 4.40007 8.10079 4.40007 8.30079 4.60007C8.50079 4.80007 8.50079 5.10005 8.30079 5.30005L7.40079 6.20008C7.30079 6.20008 7.20078 6.30005 7.10078 6.30005Z' fill='%23707070'/%3e%3cpath d='M5.39961 11.0001C4.89961 11.0001 4.39961 10.9001 3.89961 10.7001C3.69961 10.6001 3.59961 10.5 3.59961 10.3C3.59961 10.1 3.59961 10 3.69961 9.80004L4.89961 8.60006C5.09961 8.40006 5.39961 8.40006 5.59961 8.60006C5.79961 8.80006 5.79961 9.10004 5.59961 9.30004L5.09961 9.80004C5.19961 9.80004 5.29961 9.80004 5.49961 9.80004C6.69961 9.80004 7.49961 9.20006 7.49961 8.70006C7.49961 8.30006 7.19961 8.00004 6.79961 7.80004C6.49961 7.70004 6.39961 7.40006 6.49961 7.20006C6.59961 6.90006 6.89961 6.80005 7.09961 6.90005C7.89961 7.20005 8.39961 7.90006 8.49961 8.70006C8.39961 10.1001 7.09961 11.1001 5.39961 11.0001Z' fill='%23707070'/%3e%3cpath d='M4.1 7.5C4 7.5 4 7.5 3.9 7.5C3.1 7.2 2.6 6.50001 2.5 5.70001C2.5 4.40001 3.8 3.5 5.5 3.5C6 3.5 6.5 3.59999 7 3.79999C7.2 3.89999 7.3 4.00001 7.3 4.20001C7.3 4.40001 7.3 4.50001 7.2 4.70001L6 5.89999C5.8 6.09999 5.5 6.09999 5.3 5.89999C5.1 5.69999 5.1 5.40001 5.3 5.20001L5.8 4.70001C5.7 4.70001 5.6 4.70001 5.4 4.70001C4.2 4.70001 3.4 5.29999 3.4 5.79999C3.4 6.19999 3.7 6.50001 4.1 6.70001C4.4 6.80001 4.5 7.09999 4.4 7.29999C4.5 7.29999 4.3 7.5 4.1 7.5Z' fill='%23707070'/%3e%3cpath d='M11.5 7.80005C11.7761 7.80005 12 7.57619 12 7.30005C12 7.02391 11.7761 6.80005 11.5 6.80005C11.2239 6.80005 11 7.02391 11 7.30005C11 7.57619 11.2239 7.80005 11.5 7.80005Z' fill='%23337390'/%3e%3c/svg%3e ");
        }
      }

      &._star {
        &::before {
          content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6.70017 1.60004C6.90017 1.20004 7.40017 1.00004 7.90017 1.20004C8.10017 1.30004 8.20018 1.40004 8.30018 1.60004L9.60017 4.20004C9.70017 4.50004 10.0002 4.60004 10.3002 4.70004L13.2002 5.10004C13.7002 5.20004 14.0002 5.60004 14.0002 6.10004C14.0002 6.30004 13.9002 6.50004 13.7002 6.60004L11.6002 8.50003C11.4002 8.70003 11.3002 9.00002 11.3002 9.30002L11.8002 12.1C11.9002 12.6 11.6002 13 11.1002 13.1C10.9002 13.1 10.7002 13.1 10.5002 13L7.90017 11.6C7.60017 11.5 7.30017 11.5 7.10017 11.6L4.50017 13C4.10017 13.2 3.60018 13.1 3.30018 12.6C3.20018 12.4 3.20017 12.2 3.20017 12L3.70017 9.20004C3.80017 8.90004 3.70017 8.60003 3.40017 8.40003L1.30018 6.50003C0.900175 6.20003 0.900169 5.60002 1.20017 5.30002C1.30017 5.10002 1.50017 5.00003 1.70017 5.00003L4.60017 4.60004C4.90017 4.60004 5.10018 4.40004 5.30018 4.10004L6.70017 1.60004Z' fill='white'/%3e%3cpath d='M6.70017 1.60004C6.90017 1.20004 7.40017 1.00004 7.90017 1.20004C8.10017 1.30004 8.20018 1.40004 8.30018 1.60004L9.60017 4.20004C9.70017 4.50004 10.0002 4.60004 10.3002 4.70004L13.2002 5.10004C13.7002 5.20004 14.0002 5.60004 14.0002 6.10004C14.0002 6.30004 13.9002 6.50004 13.7002 6.60004L11.6002 8.50003C11.4002 8.70003 11.3002 9.00002 11.3002 9.30002L11.8002 12.1C11.9002 12.6 11.6002 13 11.1002 13.1C10.9002 13.1 10.7002 13.1 10.5002 13L7.90017 11.6C7.60017 11.5 7.30017 11.5 7.10017 11.6L4.50017 13C4.10017 13.2 3.60018 13.1 3.30018 12.6C3.20018 12.4 3.20017 12.2 3.20017 12L3.70017 9.20004C3.80017 8.90004 3.70017 8.60003 3.40017 8.40003L1.30018 6.50003C0.900175 6.20003 0.900169 5.60002 1.20017 5.30002C1.30017 5.10002 1.50017 5.00003 1.70017 5.00003L4.60017 4.60004C4.90017 4.60004 5.10018 4.40004 5.30018 4.10004L6.70017 1.60004Z' stroke='%23337390' stroke-width='1.1571' stroke-miterlimit='10'/%3e%3c/svg%3e ");
        }
      }

      &._developer {
        &::before {
          content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6.80078 4.49993L7.90078 2.39993L11.4008 2.29993L12.5008 4.49993H6.80078Z' fill='white'/%3e%3cpath d='M4.50078 16.7999L1.80078 9.79993L17.5008 9.89993L14.6008 16.8999L4.50078 16.7999Z' fill='white'/%3e%3cpath d='M18.1 9.49997C18 9.69998 17.9 9.89998 17.8 10.1C17.5 10.7 17.3 11.4 17.1 12C17.1 12.1 17 12.2 16.9 12.2C16.7 12.3 16.5 12 16.6 11.8C16.8 11.3 17 10.9 17.1 10.4C17.1 10.3 17.1 10.3 17.2 10.2C12.2 10.2 7.2 10.2 2.1 10.2V10.3C2.3 10.8 2.5 11.3 2.7 11.8C2.7 11.9 2.7 12.1 2.6 12.1C2.5 12.1 2.4 12.1 2.3 12.1C2.2 12.1 2.2 12 2.2 11.9C1.9 11.2 1.7 10.5 1.4 9.79998C1.3 9.69998 1 8.99997 1 8.69997C1.1 8.19997 1.6 7.99998 2.2 7.89998C2.6 7.89998 3 7.79998 3.4 7.89998C3.8 7.89998 4.1 8.29997 4.2 8.69997C4.2 8.99997 4.3 9.29997 4.3 9.49997L4.4 9.59998H4.5C7.9 9.59998 11.2 9.59998 14.6 9.59998C14.7 9.59998 14.7 9.59998 14.8 9.59998C14.9 9.29998 15 8.99997 15 8.69997C15.1 8.19997 15.4 7.99998 15.8 7.89998C16.3 7.79998 16.9 7.79997 17.4 7.99997C17.7 8.09997 18 8.29998 18.1 8.59998C18.2 8.89998 18.2 9.19998 18.1 9.49997ZM15.3 9.59998C15.9 9.59998 16.4 9.59998 17 9.59998C17.3 9.59998 17.5 9.29998 17.5 9.09998C17.5 8.89998 17.4 8.69997 17.1 8.49997H17C16.7 8.49997 16.3 8.49997 15.9 8.49997C15.7 8.49997 15.6 8.59998 15.6 8.79998C15.7 8.79998 15.8 8.89997 15.8 8.89997C16 8.89997 16.2 8.99997 16.4 8.99997C16.6 8.99997 16.7 9.09998 16.7 9.29998C16.7 9.49998 16.6 9.59997 16.4 9.49997C16.1 9.49997 15.8 9.39997 15.4 9.39997C15.4 9.39997 15.4 9.49998 15.3 9.59998ZM3.7 9.29998C3.4 9.29998 3.1 9.39997 2.8 9.39997C2.6 9.39997 2.5 9.29997 2.4 9.19997C2.4 8.99997 2.5 8.89997 2.7 8.89997C2.9 8.89997 3.1 8.89998 3.3 8.79998C3.5 8.79998 3.5 8.59997 3.4 8.49997C3.4 8.49997 3.3 8.39998 3.2 8.39998C3 8.39998 2.7 8.39998 2.5 8.39998C2.3 8.39998 2.1 8.49998 1.9 8.59998C1.6 8.79998 1.6 9.19997 1.8 9.39997C1.9 9.49997 2.1 9.59998 2.3 9.59998C2.7 9.59998 3 9.59998 3.4 9.59998C3.5 9.59998 3.7 9.59998 3.8 9.59998C3.8 9.49998 3.8 9.39998 3.7 9.29998Z' fill='%23337390' stroke='%23337390' stroke-width='0.4706' stroke-miterlimit='10'/%3e%3cpath d='M6.7996 5.99994C6.6996 5.99994 6.4996 5.99994 6.3996 5.99994C5.9996 5.99994 5.6996 5.59994 5.8996 5.19994C5.9996 4.99994 6.1996 4.79994 6.3996 4.59994C6.4996 4.59994 6.4996 4.49994 6.4996 4.39994C6.5996 3.49994 6.9996 2.79994 7.5996 2.19994C7.7996 2.09994 7.8996 2.09994 7.9996 2.19994C8.1996 2.39994 8.0996 2.49994 7.9996 2.69994C7.4996 3.09994 7.1996 3.69994 7.0996 4.29994C7.0996 4.29994 7.0996 4.39994 7.0996 4.49994C8.7996 4.49994 10.4996 4.49994 12.1996 4.49994C12.0996 4.29994 12.0996 3.99994 11.9996 3.79994C11.8996 3.39994 11.5996 2.99994 11.1996 2.69994C11.0996 2.59994 11.0996 2.59994 11.0996 2.49994C11.0996 2.39994 11.0996 2.29994 11.1996 2.19994C11.2996 2.19994 11.3996 2.19994 11.4996 2.19994C11.6996 2.39994 11.8996 2.59994 12.0996 2.79994C12.4996 3.29994 12.5996 3.79994 12.6996 4.39994C12.6996 4.49994 12.7996 4.49994 12.7996 4.59994C13.0996 4.79994 13.2996 4.99994 13.3996 5.29994C13.5996 5.69994 13.3996 5.99994 12.8996 5.99994C12.6996 5.99994 12.5996 5.99994 12.3996 5.99994C12.3996 6.99994 12.0996 7.89994 11.2996 8.49994C10.6996 8.89994 10.0996 8.99994 9.3996 8.99994C7.9996 8.99994 6.6996 7.69994 6.7996 5.99994ZM7.3996 5.99994C7.3996 6.09994 7.3996 6.19994 7.3996 6.29994C7.3996 7.49994 8.3996 8.49994 9.5996 8.49994C10.7996 8.49994 11.7996 7.49994 11.7996 6.19994C11.7996 5.99994 11.7996 5.99994 11.5996 5.99994C10.1996 5.99994 8.8996 5.99994 7.4996 5.99994H7.3996ZM6.3996 5.49994C8.4996 5.49994 10.5996 5.49994 12.7996 5.49994C12.6996 5.19994 12.4996 4.99994 12.1996 4.99994C10.5996 4.99994 8.8996 4.99994 7.2996 4.99994C7.1996 4.99994 7.0996 4.99994 6.9996 4.99994C6.5996 5.09994 6.4996 5.19994 6.3996 5.49994Z' fill='%23337390' stroke='%23337390' stroke-width='0.4706' stroke-miterlimit='10'/%3e%3cpath d='M8.69961 2.29995C8.69961 2.09995 8.69961 1.89995 8.69961 1.59995C8.69961 1.09995 9.09961 0.699951 9.59961 0.699951C10.0996 0.699951 10.4996 1.09995 10.4996 1.59995C10.4996 2.09995 10.4996 2.49995 10.4996 2.99995C10.4996 3.19995 10.3996 3.29995 10.1996 3.29995C9.99961 3.29995 9.89961 3.19995 9.89961 2.99995C9.89961 2.59995 9.89961 2.09995 9.89961 1.69995C9.99961 1.49995 9.79961 1.29995 9.59961 1.29995C9.29961 1.29995 9.19961 1.49995 9.19961 1.79995C9.19961 2.19995 9.19961 2.59995 9.19961 3.09995C9.19961 3.29995 9.09961 3.39995 8.89961 3.39995C8.69961 3.39995 8.59961 3.29995 8.59961 3.09995C8.69961 2.79995 8.69961 2.59995 8.69961 2.29995Z' fill='%23337390' stroke='%23337390' stroke-width='0.4706' stroke-miterlimit='10'/%3e%3cpath d='M9.60078 17.3C8.10078 17.3 6.70078 17.3 5.20078 17.3C4.60078 17.3 4.20078 17 3.90078 16.5C3.80078 16.4 3.80078 16.3 3.80078 16.2C3.80078 16.1 3.90078 15.9 4.00078 15.9C4.10078 15.9 4.30078 15.9 4.30078 16.1C4.40078 16.6 4.80078 16.7 5.30078 16.7C8.20078 16.7 11.0008 16.7 13.9008 16.7C14.4008 16.7 14.7008 16.5 14.8008 16.1C14.9008 16 15.0008 15.9 15.1008 15.9C15.2008 15.9 15.3008 16.1 15.3008 16.2C15.2008 16.7 14.6008 17.2 14.0008 17.2C12.8008 17.2 11.5008 17.2 10.3008 17.2C10.1008 17.3 9.80078 17.3 9.60078 17.3Z' fill='%23337390' stroke='%23337390' stroke-width='0.4706' stroke-miterlimit='10'/%3e%3cpath d='M13.7 12.9999C13.9 12.3999 14.3 12.1999 14.9 12.2999C15.3 12.3999 15.6 12.3999 16 12.4999C16.1 12.4999 16.3 12.4999 16.4 12.4999C16.6 12.4999 16.8 12.4999 17 12.5999C17.3 12.7999 17.4 12.9999 17.4 13.2999C17.3 13.7999 17.2 14.2999 17 14.6999C16.5 15.4999 15.7 15.7999 14.8 15.6999C14.2 15.5999 13.7 15.0999 13.6 14.3999C13.5 13.8999 13.6 13.2999 13.7 12.9999ZM14.8 12.7999C14.4 12.7999 14.3 12.7999 14.2 13.0999C14.1 13.5999 14 13.9999 14.1 14.4999C14.2 14.7999 14.4 15.0999 14.7 15.1999C15.3 15.3999 15.9 15.0999 16.3 14.5999C16.6 14.1999 16.7 13.7999 16.7 13.3999C16.7 13.1999 16.6 13.0999 16.4 13.0999C16.1 13.0999 15.9 13.0999 15.6 13.0999C15.3 12.8999 15 12.7999 14.8 12.7999Z' fill='%23707070' stroke='%23707070' stroke-width='0.4706' stroke-miterlimit='10'/%3e%3cpath d='M5.60031 13.8999C5.60031 14.1999 5.60031 14.4999 5.50031 14.7999C5.30031 15.3999 4.80031 15.5999 4.20031 15.5999C3.20031 15.6999 2.40031 15.0999 2.10031 14.1999C2.00031 13.8999 1.90031 13.4999 1.90031 13.1999C1.80031 12.7999 2.20031 12.3999 2.60031 12.4999C3.10031 12.5999 3.50031 12.4999 3.90031 12.3999C4.10031 12.3999 4.40031 12.2999 4.60031 12.2999C5.00031 12.2999 5.30031 12.4999 5.40031 12.8999C5.50031 13.1999 5.60031 13.4999 5.60031 13.8999ZM2.80031 12.9999C2.70031 12.9999 2.70031 12.9999 2.60031 12.9999C2.40031 12.9999 2.30031 13.0999 2.40031 13.2999C2.50031 13.5999 2.50031 13.8999 2.60031 14.1999C2.90031 14.8999 3.40031 15.1999 4.10031 15.1999C4.50031 15.1999 4.80031 14.9999 5.00031 14.5999C5.20031 14.0999 5.10031 13.5999 5.00031 13.0999C5.00031 12.8999 4.80031 12.8999 4.70031 12.8999C4.50031 12.8999 4.30031 12.8999 4.20031 12.9999C3.70031 12.8999 2.90031 12.9999 2.80031 12.9999Z' fill='%23707070' stroke='%23707070' stroke-width='0.4706' stroke-miterlimit='10'/%3e%3cpath d='M15.3008 9.59994C15.3008 9.49994 15.4008 9.39994 15.4008 9.29994C15.7008 9.29994 16.0008 9.39994 16.4008 9.39994C16.6008 9.39994 16.7008 9.29994 16.7008 9.19994C16.7008 8.99994 16.6008 8.89994 16.4008 8.89994C16.2008 8.89994 16.0008 8.89994 15.8008 8.79994C15.7008 8.79994 15.6008 8.69994 15.6008 8.69994C15.6008 8.59994 15.8008 8.49994 15.9008 8.49994C16.3008 8.49994 16.6008 8.49994 17.0008 8.59994H17.1008C17.4008 8.69994 17.5008 8.89994 17.5008 9.19994C17.5008 9.39994 17.2008 9.69994 17.0008 9.69994C16.4008 9.59994 15.9008 9.59994 15.3008 9.59994Z' fill='white'/%3e%3cpath d='M3.69954 9.29996C3.79954 9.39996 3.79954 9.49996 3.79954 9.59996C3.59954 9.59996 3.49954 9.59996 3.39954 9.59996C2.99954 9.59996 2.69954 9.59996 2.29954 9.59996C2.09954 9.59996 1.89954 9.49996 1.79954 9.39996C1.59954 9.19996 1.59954 8.79996 1.89954 8.59996C2.09954 8.49996 2.29954 8.39996 2.49954 8.39996C2.69954 8.39996 2.99954 8.39996 3.19954 8.39996C3.29954 8.39996 3.39954 8.49996 3.49954 8.49996C3.59954 8.59996 3.59954 8.69996 3.39954 8.79996C3.19954 8.79996 2.99954 8.89996 2.79954 8.89996C2.59954 8.89996 2.49954 8.99996 2.49954 9.19996C2.49954 9.39996 2.69954 9.49996 2.89954 9.39996C3.19954 9.39996 3.39954 9.29996 3.69954 9.29996Z' fill='white'/%3e%3cpath d='M7.40039 5.99994C7.50039 5.99994 7.50039 5.99994 7.60039 5.99994C9.00039 5.99994 10.3004 5.99994 11.7004 5.99994C11.9004 5.99994 11.9004 5.99994 11.9004 6.19994C11.8004 7.49994 10.8004 8.49994 9.60039 8.49994C8.40039 8.49994 7.40039 7.49994 7.40039 6.29994C7.40039 6.19994 7.40039 6.09994 7.40039 5.99994Z' fill='white'/%3e%3cpath d='M6.40039 5.49994C6.50039 5.29994 6.70039 5.09994 6.90039 4.99994C7.00039 4.99994 7.10039 4.99994 7.20039 4.99994C8.80039 4.99994 10.5004 4.99994 12.1004 4.99994C12.4004 4.99994 12.7004 5.19994 12.7004 5.49994C10.6004 5.49994 8.50039 5.49994 6.40039 5.49994Z' fill='white'/%3e%3cpath d='M14.8005 12.7999C15.0005 12.7999 15.4005 12.8999 15.7005 12.9999C16.0005 12.9999 16.2005 12.9999 16.5005 12.9999C16.7005 12.9999 16.9005 13.0999 16.8005 13.2999C16.7005 13.6999 16.6005 14.1999 16.4005 14.4999C16.0005 14.9999 15.4005 15.1999 14.8005 15.0999C14.5005 14.9999 14.3005 14.7999 14.2005 14.3999C14.1005 13.8999 14.1005 13.4999 14.3005 12.9999C14.3005 12.7999 14.4005 12.7999 14.8005 12.7999Z' fill='white'/%3e%3cpath d='M4.10078 12.8C4.30078 12.8 4.50078 12.8 4.60078 12.7C4.80078 12.7 4.90078 12.8 4.90078 12.9C5.10078 13.4 5.10078 13.9 4.90078 14.4C4.80078 14.8 4.40078 15 4.00078 15C3.30078 15 2.80078 14.7 2.50078 14C2.40078 13.7 2.30078 13.4 2.30078 13.1C2.30078 13 2.40078 12.8 2.50078 12.8C2.60078 12.8 2.60078 12.8 2.70078 12.8C3.20078 13 3.70078 12.9 4.10078 12.8Z' fill='white'/%3e%3c/svg%3e ");
        }
      }

      &._doc {
        &::before {
          content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='18' viewBox='0 0 15 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.09961 1H12.0996C12.6996 1 13.0996 1.4 13.0996 2V16C13.0996 16.6 12.6996 17 12.0996 17H2.09961C1.49961 17 1.09961 16.6 1.09961 16V2C1.09961 1.4 1.59961 1 2.09961 1Z' fill='white'/%3e%3cpath d='M12.0996 18H2.09961C0.999609 18 0.0996094 17.1 0.0996094 16V2C0.0996094 0.9 0.999609 0 2.09961 0H12.0996C13.1996 0 14.0996 0.9 14.0996 2V16C14.0996 17.1 13.2996 18 12.0996 18ZM2.09961 1C1.49961 1 1.09961 1.4 1.09961 2V16C1.09961 16.6 1.49961 17 2.09961 17H12.0996C12.6996 17 13.0996 16.6 13.0996 16V2C13.0996 1.4 12.6996 1 12.0996 1H2.09961Z' fill='%23337390'/%3e%3cpath d='M10.5996 5H3.59961C3.29961 5 3.09961 4.8 3.09961 4.5C3.09961 4.2 3.29961 4 3.59961 4H10.5996C10.8996 4 11.0996 4.2 11.0996 4.5C11.0996 4.8 10.8996 5 10.5996 5Z' fill='%23707070'/%3e%3cpath d='M10.5996 8H3.59961C3.29961 8 3.09961 7.8 3.09961 7.5C3.09961 7.2 3.29961 7 3.59961 7H10.5996C10.8996 7 11.0996 7.2 11.0996 7.5C11.0996 7.8 10.8996 8 10.5996 8Z' fill='%23707070'/%3e%3cpath d='M10.5996 11H3.59961C3.29961 11 3.09961 10.8 3.09961 10.5C3.09961 10.2 3.29961 10 3.59961 10H10.5996C10.8996 10 11.0996 10.2 11.0996 10.5C11.0996 10.8 10.8996 11 10.5996 11Z' fill='%23707070'/%3e%3cpath d='M7.59961 14H3.59961C3.29961 14 3.09961 13.8 3.09961 13.5C3.09961 13.2 3.29961 13 3.59961 13H7.59961C7.89961 13 8.09961 13.2 8.09961 13.5C8.09961 13.8 7.89961 14 7.59961 14Z' fill='%23707070'/%3e%3c/svg%3e ");
        }
      }
    }


    &__big-price {
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      color: $green-blue;
    }

    &__count {
      width: 26px;
      height: 26px;
      background-color: $white;
      border: 1.5px solid $green-blue;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      left: -40px;
    }

    &__information {
      margin-bottom: 30px;
      padding: 0 30px 33px 60px;
      border-bottom: 1px solid $green-line;

      li {
        display: flex;
        align-items: baseline;

        &:not(:last-child) {
          margin-bottom: 30px;
        }

        > b {
          min-width: 205px;
          width: 205px;
          margin-right: 20px;
          font-weight: 600;
          line-height: 20px;
        }

        > p {
          max-width: 714px;
        }
      }

      br {
        display: none;
      }

      span {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
      }
    }

    &__comment {
      font-weight: 500;
    }

    &__information-wrapper {
      display: flex;
      align-items: center;

      p {
        margin-right: 30px;
      }
    }

    &__information-warning {
      display: flex;
      justify-content: space-between;
      max-width: 395px;
      padding: 9px 8px;
      background-color: $blue-bg;
      border-radius: 10px;

      svg {
        min-width: 34px;
        margin-right: 8px;
      }

      p {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: $green-blue;
      }
    }

    &__link-edit {
      display: inline-block;
      margin-left: 60px;
      padding: 12px 24px;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $green-blue;
      border-radius: 3px;
      border: 1px solid $green-blue;
      transition: all .3s;

      &:hover {
        color: $white;
        background-color: $green-blue;
      }
    }
  }

}
