.cabinet-org-employees {

  &__list{
    padding-top: 25px;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 10px 0;
    background-color: $blue-bg;
    border-radius: 10px;
   >div {
      margin-bottom: 10px;
    }
  }

  &__avatar {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__info {
    width: 550px;
    margin-right: 100px;

  }

  &__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: $green-blue;
  }


  &__accesses {
    margin-right: 20px;
  }

  &__accesses-item {
    font-weight: 500;
    line-height: 17px;
    white-space: nowrap;
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &._blue {
      color: $green-blue;
    }
    &._green {
      color: #11BC83;
    }

    &._orange {
      color: #FC611F;
    }
  }

  &__registration {
    margin: 0 0 0 auto;

  }

  &__date {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin-bottom: 12px;
    white-space: nowrap;
    color: $green-blue;
  }

  &__btn-control {
    width: max-content;
    padding: 5px 52px;
    font-weight: 700;
    line-height: 17px;
    color: $green-blue;
    background-color: $white;
    text-transform: uppercase;
    border-radius: 50px;
    transition: all .3s;
    &:hover {
      background-color: $green-blue;
      color: $white;
    }
  }
  &__btn-add {
    font-weight: 600;
    border-radius: 50px;
    display: flex;
    color: $white;
    align-items: center;
    transition: all .3s;

    span {
      display: none;
    }

    &:hover {
      background-color: $green-blue;
      padding-right: 22px;

      svg {
        margin-right: 17px;
      }

      span {
        display: inline;
      }
    }
  }
}



