.create-auction-page {

  &__inner {
    padding: 35px 40px 43px 40px;
    background-color: $white;
    border-radius: 24px;
    margin-bottom: 34px;
  }

  &__prompt {
    display: flex;
    align-items: center;
    background: $blue-bg;
    border-radius: 3px;
    padding: 7px 10px 10px 8px;
    @include montserrat-medium;
    font-size: 12px;
    line-height: 15px;
    color: $green-blue;

    svg {
      min-width: 34px;
      margin-right: 10px;
    }
  }

  &__type-time {
    @include montserrat-medium;
    font-size: 14px;
    line-height: 17px;
    color: $green-blue;
    position: relative;
    padding: 6px 15px 6px 30px;
    background-color: $blue-bg;
    border-radius: 20px;
    min-width: 196px;

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
    }
  }

  .auction-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid $green-line;

    div {
      margin-bottom: 10px;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    &__item {
      @include montserrat-medium;
      font-size: 20px;
      line-height: 24px;
      color: $black;
      display: flex;
      align-items: center;

      span {
        font-weight: 700;
        white-space: nowrap;
      }

      svg {
        margin-right: 13px;
      }
    }

    &__prompt {
      max-width: 284px;
    }

  }

  .auction-form {
    margin-top: 26px;
    padding-right: 23px;

    &__title {
      @include montserrat-bold;
      color: $green-blue;
      min-width: 200px;
      width: 200px;
      margin-right: 60px;
      align-self: flex-end;

      &_start {
        align-self: flex-start;
      }
    }


    &__item-wrapper {
      display: flex;
      margin-bottom: 40px;


      &_center {
        align-items: center;

        .auction-form__title {
          align-self: center;
        }
      }

      &:nth-child(3) {
        margin-bottom: 57px;
      }

    }




    &__inputs {
      display: flex;
      align-items: flex-end;
    }

    &__checkbox-input {
      &:not(:last-child) {
        margin-right: 47px;
      }
    }

    .date-time-input {
      margin-right: 23px;
    }

    &__line {
      width: 840px;
      margin: 0 0 35px auto;
      border-bottom: 1px solid $green-line;
    }

    &__title-object {
      margin-top: 20px;
      align-self: flex-start;
    }

    &__object {
      display: flex;
      align-items: flex-end;
      margin-bottom: 10px;
      padding: 21px 25px 21px 24px;
      background-color: $blue-bg;
      border-radius: 10px;
      font-weight: 500;
      line-height: 17px;
      position: relative;

      &:hover {
        .auction-form__object-delete {
          display: block;
        }
      }

      > p {
        max-width: 340px;
        margin-right: 43px;

      }
    }

    &__object-delete {
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 5;
      display: none;

      svg {
        pointer-events: none;
      }
    }

    &__object-input-wrapper {
      min-width: 220px;
      max-width: 220px;
      margin-right: 12px;

      input {
        width: 100%;
        height: 30px;
        padding-left: 14px;
        padding-right: 5px;
        font-weight: 700;
        line-height: 17px;
        border: 1px solid $green-blue;
        border-radius: 3px;
        outline: none;
      }
    }

    &__object-desc {
      margin-bottom: 2px;
      color: $green-blue;
    }

    &__object-currency {
      min-width: 175px;
    }

    &__object-btn-add {
      font-weight: 600;
      border-radius: 50px;
      display: flex;
      color: $white;
      align-items: center;
      transition: all .3s;

      span {
        display: none;
      }

      &:hover {
        background-color: $green-blue;
        padding-right: 22px;

        svg {
          margin-right: 17px;
        }

        span {
          display: inline;
        }
      }
    }

    .choices {
      &:hover {
        .choices__list--dropdown .choices__placeholder {
          color: #3D3D3D;
        }
      }
    }

    .choices__item.choices__item--choice.choices__placeholder.choices__item--selectable.is-highlighted {
      background-color: transparent;
      color: #3D3D3D;
    }

    .choices__list--dropdown .choices__placeholder {
      display: block;
      pointer-events: none;
    }

    .choices__inner {
      width: 115px;
      height: 30px;
      padding: 1.5px 5px;
    }

    .choices__list--dropdown .choices__list,
    .choices__list[aria-expanded] .choices__list {
      overflow: visible;
    }

    .choices__list--dropdown,
    .choices__list[aria-expanded] {
      top: -90px;
    }

    .choices[data-type*=select-one]::after {
      top: 7px;
      right: 80px;
    }

    .choices__item.choices__item--choice.is-selected.choices__item--selectable {
      background-color: transparent;
      color: $dark-light;
    }


    .choices__item.choices__item--choice.is-selected.choices__item--selectable::before {
      left: 24px;
    }

    .choices__item.choices__item--choice.is-selected.choices__item--selectable::before {
      content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.09999 12.3C6.79999 12.3 6.60004 12.2 6.40004 12L0.8 6.40004C0.4 6.00004 0.4 5.40003 0.8 5.00003C1.2 4.60003 1.80002 4.60003 2.20002 5.00003L7.09999 9.90004L15.8 1.20002C16.2 0.800024 16.8 0.800024 17.2 1.20002C17.6 1.60002 17.6 2.20003 17.2 2.60003L7.8 12C7.6 12.2 7.39999 12.3 7.09999 12.3Z' fill='%233D3D3D'/%3e%3c/svg%3e ");
    }

    .choices__list[aria-expanded] .choices__item {
      padding-left: 90px;
      margin-bottom: 5px;

      &:first-child {
        padding-left: 20px;
        margin-bottom: 8px;
      }

      &::after {
        content: '';
        width: 27px;
        height: 18px;
        right: auto;
        opacity: 1;
        left: 53px;
        position: absolute;
      }
    }

    .choices__list[aria-expanded] .choices__item[data-value="uzs"] {
      &::after {
        content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='19' viewBox='0 0 28 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.96289 0.0012207H23.9629C26.1629 0.0012207 27.9629 1.80122 27.9629 4.00122V5.80122H0.962891V4.00122C0.962891 1.80122 2.76289 0.0012207 4.96289 0.0012207Z' fill='%230099B5'/%3e%3cpath d='M0.962891 5.80121H27.9629V12.3012H0.962891V5.80121Z' fill='%23CE1126'/%3e%3cpath d='M0.962891 6.1012H27.9629V11.9012H0.962891V6.1012Z' fill='white'/%3e%3cpath d='M0.962891 12.2012H27.9629V14.0012C27.9629 16.2012 26.1629 18.0012 23.9629 18.0012H4.96289C2.76289 18.0012 0.962891 16.2012 0.962891 14.0012V12.2012Z' fill='%231EB53A'/%3e%3cpath d='M10.8633 4.50123L10.7633 4.20123L10.6633 4.50123H10.3633L10.6633 4.70123L10.5633 5.00123L10.7633 4.80123L11.0633 5.00123L10.9633 4.70123L11.1633 4.50123H10.8633Z' fill='white'/%3e%3cpath d='M10.8633 2.70124L10.7633 2.40125L10.6633 2.70124H10.3633L10.6633 2.90125L10.5633 3.20124L10.7633 3.00124L11.0633 3.20124L10.9633 2.90125L11.1633 2.70124H10.8633Z' fill='white'/%3e%3cpath d='M10.8633 1.00123L10.7633 0.701233L10.6633 1.00123H10.3633L10.6633 1.20123L10.5633 1.50123L10.7633 1.30123L11.0633 1.50123L10.9633 1.20123L11.1633 1.00123H10.8633Z' fill='white'/%3e%3cpath d='M12.9625 4.50123H12.6625L12.5625 4.20123L12.4625 4.50123H12.0625L12.3625 4.70123L12.2625 5.00123L12.5625 4.80123L12.7625 5.00123L12.6625 4.70123L12.9625 4.50123Z' fill='white'/%3e%3cpath d='M12.9625 2.70124H12.6625L12.5625 2.40125L12.4625 2.70124H12.0625L12.3625 2.90125L12.2625 3.20124L12.5625 3.00124L12.7625 3.20124L12.6625 2.90125L12.9625 2.70124Z' fill='white'/%3e%3cpath d='M12.9625 1.00123H12.6625L12.5625 0.701233L12.4625 1.00123H12.0625L12.3625 1.20123L12.2625 1.50123L12.5625 1.30123L12.7625 1.50123L12.6625 1.20123L12.9625 1.00123Z' fill='white'/%3e%3cpath d='M14.3633 4.50123L14.2633 4.20123L14.1633 4.50123H13.8633L14.0633 4.70123L13.9633 5.00123L14.2633 4.80123L14.4633 5.00123L14.3633 4.70123L14.6633 4.50123H14.3633Z' fill='white'/%3e%3cpath d='M14.3633 2.70124L14.2633 2.40125L14.1633 2.70124H13.8633L14.0633 2.90125L13.9633 3.20124L14.2633 3.00124L14.4633 3.20124L14.3633 2.90125L14.6633 2.70124H14.3633Z' fill='white'/%3e%3cpath d='M14.6633 1.00123H14.3633L14.2633 0.701233L14.1633 1.00123H13.8633L14.0633 1.20123L13.9633 1.50123L14.2633 1.30123L14.4633 1.50123L14.3633 1.20123L14.6633 1.00123Z' fill='white'/%3e%3cpath d='M7.46289 4.50123L7.36289 4.20123L7.26289 4.50123H6.96289L7.16289 4.70123L7.06289 5.00123L7.36289 4.80123L7.56289 5.00123L7.46289 4.70123L7.76289 4.50123H7.46289Z' fill='white'/%3e%3cpath d='M9.46211 4.50123H9.16211L9.06211 4.20123L8.96211 4.50123H8.66211L8.86211 4.70123L8.76211 5.00123L9.06211 4.80123L9.36211 5.00123L9.26211 4.70123L9.46211 4.50123Z' fill='white'/%3e%3cpath d='M9.46211 2.70124H9.16211L9.06211 2.40125L8.96211 2.70124H8.66211L8.86211 2.90125L8.76211 3.20124L9.06211 3.00124L9.36211 3.20124L9.26211 2.90125L9.46211 2.70124Z' fill='white'/%3e%3cpath d='M5.96289 5.00122C4.86289 5.00122 3.96289 4.10122 3.96289 3.00122C3.96289 1.90122 4.86289 1.00122 5.96289 1.00122C6.16289 1.00122 6.26289 1.00122 6.46289 1.10122C5.36289 1.40122 4.76289 2.50122 5.06289 3.50122C5.26289 4.20122 5.76289 4.80122 6.46289 4.90122C6.36289 5.00122 6.16289 5.00122 5.96289 5.00122Z' fill='white'/%3e%3c/svg%3e ");
      }
    }

    .choices__list[aria-expanded] .choices__item[data-value="rub"] {
      &::after {
        content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='19' viewBox='0 0 28 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.962891 12.0012H27.9629V14.0012C27.9629 16.2012 26.1629 18.0012 23.9629 18.0012H4.96289C2.76289 18.0012 0.962891 16.2012 0.962891 14.0012V12.0012Z' fill='%23D52B1E'/%3e%3cpath d='M27.9629 6.00122H0.962891V12.0012H27.9629V6.00122Z' fill='%230039A6'/%3e%3cpath d='M4.96289 0.0012207H23.9629C26.1629 0.0012207 27.9629 1.80122 27.9629 4.00122V6.00122H0.962891V4.00122C0.962891 1.80122 2.76289 0.0012207 4.96289 0.0012207Z' fill='white'/%3e%3c/svg%3e ");
      }
    }

    .choices__list[aria-expanded] .choices__item[data-value="usd"] {
      &::after {
        content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='19' viewBox='0 0 28 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M27.9629 9.70123H0.962891V11.1012H27.9629V9.70123Z' fill='white'/%3e%3cpath d='M27.9629 8.30121H0.962891V9.7012H27.9629V8.30121Z' fill='%23BB133E'/%3e%3cpath d='M27.9629 6.90125H0.962891V8.30125H27.9629V6.90125Z' fill='white'/%3e%3cpath d='M27.9629 5.50122H0.962891V6.90122H27.9629V5.50122Z' fill='%23BB133E'/%3e%3cpath d='M27.9629 4.20123H0.962891V5.60123H27.9629V4.20123Z' fill='white'/%3e%3cpath d='M1.96289 16.6012C2.66289 17.4012 3.76289 18.0012 4.96289 18.0012H23.9629C25.1629 18.0012 26.2629 17.5012 26.9629 16.6012H1.96289Z' fill='%23BB133E'/%3e%3cpath d='M1.96367 16.6012H26.9637C27.2637 16.2012 27.5637 15.7012 27.7637 15.2012H1.26367C1.36367 15.7012 1.66367 16.2012 1.96367 16.6012Z' fill='white'/%3e%3cpath d='M0.962891 13.8012V14.0012C0.962891 14.4012 1.06289 14.8012 1.16289 15.2012H27.7629C27.8629 14.8012 27.9629 14.4012 27.9629 14.0012V13.8012H0.962891Z' fill='%23BB133E'/%3e%3cpath d='M27.9629 12.5012H0.962891V13.9012H27.9629V12.5012Z' fill='white'/%3e%3cpath d='M27.9629 11.1012H0.962891V12.5012H27.9629V11.1012Z' fill='%23BB133E'/%3e%3cpath d='M0.962891 4.00121V4.2012H27.9629V4.00121C27.9629 3.60121 27.8629 3.20121 27.7629 2.80121H1.26289C1.06289 3.20121 0.962891 3.60121 0.962891 4.00121Z' fill='%23BB133E'/%3e%3cpath d='M1.26367 2.80125H27.8637C27.6637 2.30125 27.4637 1.80125 27.0637 1.40125H2.06367C1.66367 1.80125 1.36367 2.30125 1.26367 2.80125Z' fill='white'/%3e%3cpath d='M1.96289 1.40122H26.9629C26.2629 0.601222 25.1629 0.0012207 23.9629 0.0012207H4.96289C3.76289 0.0012207 2.76289 0.501222 1.96289 1.40122Z' fill='%23BB133E'/%3e%3cpath d='M14.4629 9.70122V0.0012207H4.96289C2.76289 0.0012207 0.962891 1.80122 0.962891 4.00122V9.70122H14.4629Z' fill='%23002664'/%3e%3cpath d='M4.26367 0.401245L4.16367 0.801247H3.76367L4.06367 1.00124L3.96367 1.40125L4.26367 1.20124L4.56367 1.40125L4.46367 1.00124L4.76367 0.801247H4.36367L4.26367 0.401245Z' fill='white'/%3e%3cpath d='M6.46289 0.401245L6.36289 0.801247H5.96289L6.26289 1.00124L6.16289 1.40125L6.46289 1.20124L6.86289 1.40125L6.66289 1.00124L7.06289 0.801247H6.66289L6.46289 0.401245Z' fill='white'/%3e%3cpath d='M8.76367 0.401245L8.66367 0.801247H8.26367L8.56367 1.00124L8.46367 1.40125L8.76367 1.20124L9.06367 1.40125L8.96367 1.00124L9.26367 0.801247H8.86367L8.76367 0.401245Z' fill='white'/%3e%3cpath d='M10.9629 0.401245L10.8629 0.801247H10.4629L10.7629 1.00124L10.6629 1.40125L10.9629 1.20124L11.2629 1.40125L11.1629 1.00124L11.4629 0.801247H11.0629L10.9629 0.401245Z' fill='white'/%3e%3cpath d='M13.0621 1.00124L12.8621 1.40125L13.1621 1.20124L13.5621 1.40125L13.3621 1.00124L13.7621 0.801247H13.3621L13.2621 0.401245L13.0621 0.801247H12.6621L13.0621 1.00124Z' fill='white'/%3e%3cpath d='M3.16211 1.40125L3.06211 1.70124H2.66211L2.96211 2.00124L2.86211 2.30125L3.16211 2.10124L3.46211 2.30125L3.36211 2.00124L3.66211 1.70124H3.26211L3.16211 1.40125Z' fill='white'/%3e%3cpath d='M5.36328 1.40125L5.26328 1.70124H4.86328L5.16328 2.00124L5.06328 2.30125L5.36328 2.10124L5.66328 2.30125L5.56328 2.00124L5.86328 1.70124H5.56328L5.36328 1.40125Z' fill='white'/%3e%3cpath d='M7.6625 1.40125L7.4625 1.70124H7.0625L7.4625 2.00124L7.2625 2.30125L7.6625 2.10124L7.9625 2.30125L7.8625 2.00124L8.1625 1.70124H7.7625L7.6625 1.40125Z' fill='white'/%3e%3cpath d='M9.86328 1.40125L9.76328 1.70124H9.36328L9.66328 2.00124L9.56328 2.30125L9.86328 2.10124L10.1633 2.30125L10.0633 2.00124L10.3633 1.70124H9.96328L9.86328 1.40125Z' fill='white'/%3e%3cpath d='M12.0625 1.40125L11.9625 1.70124H11.5625L11.8625 2.00124L11.7625 2.30125L12.0625 2.10124L12.4625 2.30125L12.2625 2.00124L12.6625 1.70124H12.2625L12.0625 1.40125Z' fill='white'/%3e%3cpath d='M2.06289 2.30127L1.96289 2.70126H1.46289L1.86289 2.90127L1.66289 3.30127L2.06289 3.10126L2.36289 3.30127L2.26289 2.90127L2.56289 2.70126H2.16289L2.06289 2.30127Z' fill='white'/%3e%3cpath d='M4.26367 2.30127L4.16367 2.70126H3.76367L4.06367 2.90127L3.96367 3.30127L4.26367 3.10126L4.56367 3.30127L4.46367 2.90127L4.76367 2.70126H4.36367L4.26367 2.30127Z' fill='white'/%3e%3cpath d='M6.46289 2.30127L6.36289 2.70126H5.96289L6.26289 2.90127L6.16289 3.30127L6.46289 3.10126L6.86289 3.30127L6.66289 2.90127L7.06289 2.70126H6.66289L6.46289 2.30127Z' fill='white'/%3e%3cpath d='M8.76367 2.30127L8.66367 2.70126H8.26367L8.56367 2.90127L8.46367 3.30127L8.76367 3.10126L9.06367 3.30127L8.96367 2.90127L9.26367 2.70126H8.86367L8.76367 2.30127Z' fill='white'/%3e%3cpath d='M10.9629 2.30127L10.8629 2.70126H10.4629L10.7629 2.90127L10.6629 3.30127L10.9629 3.10126L11.2629 3.30127L11.1629 2.90127L11.4629 2.70126H11.0629L10.9629 2.30127Z' fill='white'/%3e%3cpath d='M13.2621 2.30127L13.0621 2.70126H12.6621L13.0621 2.90127L12.8621 3.30127L13.1621 3.10126L13.5621 3.30127L13.3621 2.90127L13.7621 2.70126H13.3621L13.2621 2.30127Z' fill='white'/%3e%3cpath d='M3.16211 3.30127L3.06211 3.60126H2.66211L2.96211 3.90127L2.86211 4.30127L3.16211 4.00127L3.46211 4.30127L3.36211 3.90127L3.66211 3.60126H3.26211L3.16211 3.30127Z' fill='white'/%3e%3cpath d='M5.36328 3.30127L5.26328 3.60126H4.86328L5.16328 3.90127L5.06328 4.30127L5.36328 4.00127L5.66328 4.30127L5.56328 3.90127L5.86328 3.60126H5.56328L5.36328 3.30127Z' fill='white'/%3e%3cpath d='M7.6625 3.30127L7.4625 3.60126H7.0625L7.4625 3.90127L7.2625 4.30127L7.6625 4.00127L7.9625 4.30127L7.8625 3.90127L8.1625 3.60126H7.7625L7.6625 3.30127Z' fill='white'/%3e%3cpath d='M9.86328 3.30127L9.76328 3.60126H9.36328L9.66328 3.90127L9.56328 4.30127L9.86328 4.00127L10.1633 4.30127L10.0633 3.90127L10.3633 3.60126H9.96328L9.86328 3.30127Z' fill='white'/%3e%3cpath d='M12.0625 3.30127L11.9625 3.60126H11.5625L11.8625 3.90127L11.7625 4.30127L12.0625 4.00127L12.4625 4.30127L12.2625 3.90127L12.6625 3.60126H12.2625L12.0625 3.30127Z' fill='white'/%3e%3cpath d='M2.06289 4.20123L1.96289 4.60123H1.46289L1.86289 4.80124L1.66289 5.20123L2.06289 5.00124L2.36289 5.20123L2.26289 4.80124L2.56289 4.60123H2.16289L2.06289 4.20123Z' fill='white'/%3e%3cpath d='M4.26367 4.20123L4.16367 4.60123H3.76367L4.06367 4.80124L3.96367 5.20123L4.26367 5.00124L4.56367 5.20123L4.46367 4.80124L4.76367 4.60123H4.36367L4.26367 4.20123Z' fill='white'/%3e%3cpath d='M6.46289 4.20123L6.36289 4.60123H5.96289L6.26289 4.80124L6.16289 5.20123L6.46289 5.00124L6.86289 5.20123L6.66289 4.80124L7.06289 4.60123H6.66289L6.46289 4.20123Z' fill='white'/%3e%3cpath d='M8.76367 4.20123L8.66367 4.60123H8.26367L8.56367 4.80124L8.46367 5.20123L8.76367 5.00124L9.06367 5.20123L8.96367 4.80124L9.26367 4.60123H8.86367L8.76367 4.20123Z' fill='white'/%3e%3cpath d='M10.9629 4.20123L10.8629 4.60123H10.4629L10.7629 4.80124L10.6629 5.20123L10.9629 5.00124L11.2629 5.20123L11.1629 4.80124L11.4629 4.60123H11.0629L10.9629 4.20123Z' fill='white'/%3e%3cpath d='M13.2621 4.20123L13.0621 4.60123H12.6621L13.0621 4.80124L12.8621 5.20123L13.1621 5.00124L13.5621 5.20123L13.3621 4.80124L13.7621 4.60123H13.3621L13.2621 4.20123Z' fill='white'/%3e%3cpath d='M3.16211 5.20123L3.06211 5.60123H2.66211L2.96211 5.80124L2.86211 6.20123L3.16211 5.90124L3.46211 6.20123L3.36211 5.80124L3.66211 5.60123H3.26211L3.16211 5.20123Z' fill='white'/%3e%3cpath d='M5.36328 5.20123L5.26328 5.60123H4.86328L5.16328 5.80124L5.06328 6.20123L5.36328 5.90124L5.66328 6.20123L5.56328 5.80124L5.86328 5.60123H5.56328L5.36328 5.20123Z' fill='white'/%3e%3cpath d='M7.6625 5.20123L7.4625 5.60123H7.0625L7.4625 5.80124L7.2625 6.20123L7.6625 5.90124L7.9625 6.20123L7.8625 5.80124L8.1625 5.60123H7.7625L7.6625 5.20123Z' fill='white'/%3e%3cpath d='M9.86328 5.20123L9.76328 5.60123H9.36328L9.66328 5.80124L9.56328 6.20123L9.86328 5.90124L10.1633 6.20123L10.0633 5.80124L10.3633 5.60123H9.96328L9.86328 5.20123Z' fill='white'/%3e%3cpath d='M12.0625 5.20123L11.9625 5.60123H11.5625L11.8625 5.80124L11.7625 6.20123L12.0625 5.90124L12.4625 6.20123L12.2625 5.80124L12.6625 5.60123H12.2625L12.0625 5.20123Z' fill='white'/%3e%3cpath d='M2.06289 6.10126L1.96289 6.50126H1.46289L1.86289 6.80126L1.66289 7.10126L2.06289 6.90126L2.36289 7.10126L2.26289 6.80126L2.56289 6.50126H2.16289L2.06289 6.10126Z' fill='white'/%3e%3cpath d='M4.26367 6.10126L4.16367 6.50126H3.76367L4.06367 6.80126L3.96367 7.10126L4.26367 6.90126L4.56367 7.10126L4.46367 6.80126L4.76367 6.50126H4.36367L4.26367 6.10126Z' fill='white'/%3e%3cpath d='M6.46289 6.10126L6.36289 6.50126H5.96289L6.26289 6.80126L6.16289 7.10126L6.46289 6.90126L6.86289 7.10126L6.66289 6.80126L7.06289 6.50126H6.66289L6.46289 6.10126Z' fill='white'/%3e%3cpath d='M8.76367 6.10126L8.66367 6.50126H8.26367L8.56367 6.80126L8.46367 7.10126L8.76367 6.90126L9.06367 7.10126L8.96367 6.80126L9.26367 6.50126H8.86367L8.76367 6.10126Z' fill='white'/%3e%3cpath d='M10.9629 6.10126L10.8629 6.50126H10.4629L10.7629 6.80126L10.6629 7.10126L10.9629 6.90126L11.2629 7.10126L11.1629 6.80126L11.4629 6.50126H11.0629L10.9629 6.10126Z' fill='white'/%3e%3cpath d='M13.2621 6.10126L13.0621 6.50126H12.6621L13.0621 6.80126L12.8621 7.10126L13.1621 6.90126L13.5621 7.10126L13.3621 6.80126L13.7621 6.50126H13.3621L13.2621 6.10126Z' fill='white'/%3e%3cpath d='M3.26211 7.50126L3.16211 7.10126L3.06211 7.50126H2.66211L2.96211 7.70126L2.86211 8.10126L3.16211 7.90126L3.46211 8.10126L3.36211 7.70126L3.66211 7.50126H3.26211Z' fill='white'/%3e%3cpath d='M5.56328 7.50126L5.36328 7.10126L5.26328 7.50126H4.86328L5.16328 7.70126L5.06328 8.10126L5.36328 7.90126L5.66328 8.10126L5.56328 7.70126L5.86328 7.50126H5.56328Z' fill='white'/%3e%3cpath d='M7.7625 7.50126L7.6625 7.10126L7.4625 7.50126H7.0625L7.4625 7.70126L7.2625 8.10126L7.6625 7.90126L7.9625 8.10126L7.8625 7.70126L8.1625 7.50126H7.7625Z' fill='white'/%3e%3cpath d='M9.96328 7.50126L9.86328 7.10126L9.76328 7.50126H9.36328L9.66328 7.70126L9.56328 8.10126L9.86328 7.90126L10.1633 8.10126L10.0633 7.70126L10.3633 7.50126H9.96328Z' fill='white'/%3e%3cpath d='M12.2625 7.50126L12.0625 7.10126L11.9625 7.50126H11.5625L11.8625 7.70126L11.7625 8.10126L12.0625 7.90126L12.4625 8.10126L12.2625 7.70126L12.6625 7.50126H12.2625Z' fill='white'/%3e%3cpath d='M2.16289 8.40126L2.06289 8.10126L1.96289 8.40126H1.46289L1.86289 8.70126L1.66289 9.10126L2.06289 8.80126L2.36289 9.10126L2.26289 8.70126L2.56289 8.40126H2.16289Z' fill='white'/%3e%3cpath d='M4.36367 8.40126L4.26367 8.10126L4.16367 8.40126H3.76367L4.06367 8.70126L3.96367 9.10126L4.26367 8.80126L4.56367 9.10126L4.46367 8.70126L4.76367 8.40126H4.36367Z' fill='white'/%3e%3cpath d='M6.66289 8.40126L6.46289 8.10126L6.36289 8.40126H5.96289L6.26289 8.70126L6.16289 9.10126L6.46289 8.80126L6.86289 9.10126L6.66289 8.70126L7.06289 8.40126H6.66289Z' fill='white'/%3e%3cpath d='M8.86367 8.40126L8.76367 8.10126L8.66367 8.40126H8.26367L8.56367 8.70126L8.46367 9.10126L8.76367 8.80126L9.06367 9.10126L8.96367 8.70126L9.26367 8.40126H8.86367Z' fill='white'/%3e%3cpath d='M11.0629 8.40126L10.9629 8.10126L10.8629 8.40126H10.4629L10.7629 8.70126L10.6629 9.10126L10.9629 8.80126L11.2629 9.10126L11.1629 8.70126L11.4629 8.40126H11.0629Z' fill='white'/%3e%3cpath d='M13.3621 8.40126L13.2621 8.10126L13.0621 8.40126H12.6621L13.0621 8.70126L12.8621 9.10126L13.1621 8.80126L13.5621 9.10126L13.3621 8.70126L13.7621 8.40126H13.3621Z' fill='white'/%3e%3cpath d='M2.26211 1.10126L2.16211 1.20126L2.36211 1.40126L2.26211 1.10126Z' fill='white'/%3e%3c/svg%3e ");
      }
    }

    .choices__list[aria-expanded] .choices__item[data-value="cny"] {
      &::after {
        content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='19' viewBox='0 0 28 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M23.9629 0.0012207H4.96289C2.76289 0.0012207 0.962891 1.80122 0.962891 4.00122V14.0012C0.962891 16.2012 2.76289 18.0012 4.96289 18.0012H23.9629C26.1629 18.0012 27.9629 16.2012 27.9629 14.0012V4.00122C27.9629 1.80122 26.1629 0.0012207 23.9629 0.0012207Z' fill='%23EE1C25'/%3e%3cpath d='M6.56289 4.80121L8.16289 3.7012H6.16289L5.56289 1.80121L4.96289 3.7012H2.96289L4.56289 4.80121L3.96289 6.7012L5.56289 5.6012L7.16289 6.7012L6.56289 4.80121Z' fill='%23FFFF00'/%3e%3cpath d='M10.3637 2.00122L10.9637 1.90122L10.3637 1.60122L10.4637 1.00122L9.96367 1.50122L9.36367 1.20122L9.76367 1.80122L9.26367 2.30122L9.96367 2.10122L10.2637 2.70122L10.3637 2.00122Z' fill='%23FFFF00'/%3e%3cpath d='M12.0629 3.90121L12.6629 4.00121L12.2629 3.6012L12.5629 3.00121L11.9629 3.30121L11.4629 2.80121L11.5629 3.50121L10.9629 3.80121L11.6629 3.90121L11.7629 4.50121L12.0629 3.90121Z' fill='%23FFFF00'/%3e%3cpath d='M12.1629 6.40125L12.7629 6.00124L12.0629 6.10124L11.8629 5.40125L11.6629 6.10124H10.9629L11.5629 6.50124L11.3629 7.10124L11.8629 6.70124L12.4629 7.10124L12.1629 6.40125Z' fill='%23FFFF00'/%3e%3cpath d='M10.3637 8.40121L10.9637 8.2012L10.3637 8.00121V7.30121L9.96367 7.80121L9.36367 7.6012L9.76367 8.1012L9.26367 8.7012L9.96367 8.50121L10.2637 9.00121L10.3637 8.40121Z' fill='%23FFFF00'/%3e%3c/svg%3e ");
      }
    }

    &__item-wrapper-wrap {
      display: flex;
      align-items: center;

      &_start {
        display: flex;
        align-items: flex-start;
      }

    }

    &__input-wrapper {
      width: 160px;
      margin-right: 36px;
      position: relative;
      height: 30px;

      input {
        width: 100%;
        height: 100%;
        padding-left: 34px;
        padding-right: 5px;
        font-weight: 500;
        line-height: 17px;
        border: 1px solid $green-blue;
        border-radius: 3px;
        outline: none;
      }

      svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
      }
    }

    &__checkbox-minprice {
      margin-right: 25px;
    }

    &__prompt-length {
      max-width: 260px;
    }

    &__input-wrapper-deposit {
      width: 110px;
      margin-right: 7px;
    }

    &__desc-deposit {
      margin-right: 45px;
      font-weight: 500;
      line-height: 17px;
    }

    &__prompt-deposit {
      max-width: 410px;
    }


    &__guarantee {
      display: flex;
      width: 100%;
      justify-content: space-between;
      max-width: 835px;
      padding: 16px 33px 18px 23px;
      background-color: $blue-bg;
      border-radius: 10px;
      font-weight: 500;
      line-height: 17px;

      svg {
        align-self: center;
        margin: 0 20px;
      }
    }

    &__guarantee-percent {
      max-width: 100px;
      margin-right: 15px;
    }

    &__guarantee-summ {
      max-width: 167px;
      margin-right: 15px;
      font-size: 12px;
      line-height: 15px;

      span {
        display: block;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
      }
    }

    &__guarantee-description {
      max-width: 400px;
      color: #7D8E8E;
      font-size: 10px;
      line-height: 14px;

      a {
        color: $green-blue;
      }
    }

    &__textarea-wrapper {
      margin-right: 23px;
      margin-bottom: 10px;
      width: 275px;

      textarea {
        width: 100%;
        height: 115px;
        padding: 6px 14px;
        line-height: 17px;
        outline: none;

        &::placeholder {
          color: #7D8E8E;
        }
      }
    }

   &__prompt-publiс {
      max-width: 230px;
      height: max-content;
    }


    &__item-wrapper-comment {
      .auction-form__item-wrapper-wrap_start {
        width: 100%;
      }

      .auction-form__textarea-wrapper {
        width: 50%;

        textarea {
          width: 100%;
          height: 100px;
        }
      }

      .create-auction-page__prompt {
        max-width: 50%;
        width: 50%;
      }
    }

    &__item-btns {
      display: flex;
      padding-left: 257px;

      button {
        @include montserrat-bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        border-radius: 3px;
        padding: 12px 10px;
        color: $green-blue;
        border: 1px solid $green-blue;
        width: 234px;
        transition: all .3s;

        &:hover {
          background-color: $green-blue;
          color: $white;
        }
      }

      .auction-form__save-btn {
        margin-right: 36px;
      }

      .auction-form__create-btn {
        width: 248px;
        color: $green-light;
        border: 1px solid $green-light;

        &:hover {
          background-color: $green-light;
        }
      }

    }


  }

}
