.new-auction-page {
  .new-auction {
    margin-bottom: 30px;

    &__form {
      padding: 39px 32px 45px 39px;
      background-color: $white;
      border-radius: 24px;
    }

    &__row {
      display: flex;
      margin-bottom: 58px;
      &.border {
        margin-bottom: 0;
        padding-bottom: 35px;
        border-bottom: 1px solid #D2E7EF;

      }
      >.new-auction__link {
        align-self: flex-end;
      }
    }
    &__row-wrapper {
      display: flex;
    }
    &__title {
      min-width: 220px;
      margin-right: 40px;
      padding-top: 8px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 0.1em;
      color: $green-blue;
      text-transform: uppercase;
    }

    &__seller {
      width: 430px;
    }

    &__auction {
      width: 200px;
      margin-right: 20px;
    }

    &__data {
      max-width: 432px;
      margin-right: 10px;

      p {
        padding-left: 25px;
        line-height: 17px;
        position: relative;

        &::before {
          position: absolute;
          left: 0;
        }
      }
    }

    &__status {
      width: 175px;
      margin-bottom: 13px;
      padding: 8px 0;
      text-align: center;
      border-radius: 50px;
      font-weight: 700;
      line-height: 17px;
      color: #1DAB7F;
      background-color: #E6F4EF;
    }

    &__date {
      margin-bottom: 13px;
      color: $green-blue;
      text-transform: uppercase;

      &::before {
        content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.79883 15C11.941 15 15.2988 11.6421 15.2988 7.5C15.2988 3.35786 11.941 0 7.79883 0C3.65669 0 0.298828 3.35786 0.298828 7.5C0.298828 11.6421 3.65669 15 7.79883 15Z' fill='white'/%3e%3cpath d='M7.79807 7.99998C7.59807 7.99998 7.49808 7.89996 7.39808 7.79996C7.19808 7.59996 7.29808 7.29998 7.49808 7.09998L11.4981 4.09998C11.6981 3.89998 11.9981 3.99999 12.1981 4.19999C12.3981 4.39999 12.2981 4.69997 12.0981 4.89997L8.09809 7.89997C8.09809 7.99997 7.99807 7.99998 7.79807 7.99998Z' fill='%2393B5C5'/%3e%3cpath d='M7.79883 15C3.69883 15 0.298828 11.6 0.298828 7.5C0.298828 3.4 3.69883 0 7.79883 0C11.8988 0 15.2988 3.4 15.2988 7.5C15.2988 11.6 11.9988 15 7.79883 15ZM7.79883 1C4.19883 1 1.29883 3.9 1.29883 7.5C1.29883 11.1 4.19883 14 7.79883 14C11.3988 14 14.2988 11.1 14.2988 7.5C14.2988 3.9 11.3988 1 7.79883 1Z' fill='%2393B5C5'/%3e%3cpath d='M7.79807 7.99998C7.69807 7.99998 7.59808 7.99997 7.49808 7.89997L4.49808 5.89997C4.29808 5.69997 4.19808 5.39999 4.39808 5.19999C4.59808 4.99999 4.89809 4.89998 5.09809 5.09998L8.09809 7.09998C8.29809 7.29998 8.3981 7.59996 8.1981 7.79996C8.1981 7.89996 7.99807 7.99998 7.79807 7.99998Z' fill='%2393B5C5'/%3e%3c/svg%3e ");
      }

      span {
        font-weight: 700;
      }
    }

    &__desc {
      margin-bottom: 11px;

      &::before {
        content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='18' viewBox='0 0 15 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.29883 1H12.2988C12.8988 1 13.2988 1.4 13.2988 2V16C13.2988 16.6 12.8988 17 12.2988 17H2.29883C1.69883 17 1.29883 16.6 1.29883 16V2C1.29883 1.4 1.79883 1 2.29883 1Z' fill='white'/%3e%3cpath d='M12.2988 18H2.29883C1.19883 18 0.298828 17.1 0.298828 16V2C0.298828 0.9 1.19883 0 2.29883 0H12.2988C13.3988 0 14.2988 0.9 14.2988 2V16C14.2988 17.1 13.4988 18 12.2988 18ZM2.29883 1C1.69883 1 1.29883 1.4 1.29883 2V16C1.29883 16.6 1.69883 17 2.29883 17H12.2988C12.8988 17 13.2988 16.6 13.2988 16V2C13.2988 1.4 12.8988 1 12.2988 1H2.29883Z' fill='%2393B5C5'/%3e%3cpath d='M10.7988 5H3.79883C3.49883 5 3.29883 4.8 3.29883 4.5C3.29883 4.2 3.49883 4 3.79883 4H10.7988C11.0988 4 11.2988 4.2 11.2988 4.5C11.2988 4.8 11.0988 5 10.7988 5Z' fill='%2393B5C5'/%3e%3cpath d='M10.7988 8H3.79883C3.49883 8 3.29883 7.8 3.29883 7.5C3.29883 7.2 3.49883 7 3.79883 7H10.7988C11.0988 7 11.2988 7.2 11.2988 7.5C11.2988 7.8 11.0988 8 10.7988 8Z' fill='%2393B5C5'/%3e%3cpath d='M10.7988 11H3.79883C3.49883 11 3.29883 10.8 3.29883 10.5C3.29883 10.2 3.49883 10 3.79883 10H10.7988C11.0988 10 11.2988 10.2 11.2988 10.5C11.2988 10.8 11.0988 11 10.7988 11Z' fill='%2393B5C5'/%3e%3cpath d='M7.79883 14H3.79883C3.49883 14 3.29883 13.8 3.29883 13.5C3.29883 13.2 3.49883 13 3.79883 13H7.79883C8.09883 13 8.29883 13.2 8.29883 13.5C8.29883 13.8 8.09883 14 7.79883 14Z' fill='%2393B5C5'/%3e%3c/svg%3e ");
      }
    }

    &__owner {
      &::before {
        content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.9984 2.09998L11.8984 7.19998C11.8984 7.29998 11.9984 7.39996 12.0984 7.39996H17.1985C17.1985 7.39996 17.2984 7.39996 17.2984 7.29996C17.2984 4.39996 14.8984 2.09998 11.9984 2.09998Z' fill='white'/%3e%3cpath d='M11.8991 3.09998C9.49907 3.19998 7.59909 5.19998 7.69909 7.59998C7.79909 9.99998 9.79909 11.9 12.1991 11.8C14.4991 11.7 16.3991 9.79997 16.3991 7.49997C16.3991 7.49997 16.3991 7.39996 16.2991 7.39996H12.0991C11.9991 7.39996 11.9991 7.39996 11.9991 7.29996L11.8991 3.09998C11.9991 3.09998 11.8991 3.09998 11.8991 3.09998Z' fill='white'/%3e%3cpath d='M17.298 7.89996H12.1981C11.7981 7.89996 11.498 7.59998 11.498 7.19998V2.19998C11.498 1.89998 11.698 1.59998 11.998 1.59998C15.198 1.59998 17.798 4.19996 17.798 7.29996C17.798 7.69996 17.598 7.89996 17.298 7.89996ZM12.398 2.59998V6.89996H16.798C16.598 4.69996 14.698 2.79998 12.398 2.59998Z' fill='%2393B5C5'/%3e%3cpath d='M11.9987 12.3C9.39873 12.3 7.29874 10.2 7.19874 7.59998C7.09874 4.89998 9.19872 2.69998 11.8987 2.59998C12.1987 2.59998 12.4987 2.89998 12.4987 3.09998V6.89996H16.3987C16.5987 6.89996 16.8987 7.09996 16.9987 7.39996C16.9987 10.1 14.8987 12.2 12.2987 12.3H11.9987ZM11.4987 3.59998C9.59873 3.89998 8.19874 5.59997 8.19874 7.49997C8.29874 9.59997 9.99873 11.2 11.9987 11.2H12.0987C13.9987 11.1 15.4987 9.69996 15.7987 7.79996H11.9987C11.6987 7.79996 11.3987 7.49998 11.3987 7.19998L11.4987 3.59998Z' fill='%2393B5C5'/%3e%3cpath d='M11.4992 3.59998C9.59921 3.89998 8.19922 5.59997 8.19922 7.49997C8.29922 9.59997 9.99921 11.2 11.9992 11.2H12.0992C13.9992 11.1 15.4992 9.69996 15.7992 7.79996H11.9992C11.6992 7.79996 11.3992 7.49998 11.3992 7.19998L11.4992 3.59998Z' fill='white'/%3e%3cpath d='M12.7984 10.7C12.6984 10.5 12.5984 10.3 12.4984 10.2C12.4984 10.2 10.7985 9.69999 9.69846 9.29999C9.29846 9.19999 8.99844 9.1 8.89844 9L8.59845 8.20001V7.39999C8.69845 7.29999 8.79843 7.30001 8.79843 7.20001C8.89843 7.10001 8.89844 6.99999 8.99844 6.79999C9.09844 6.59999 8.99846 6.3 9.19846 6.10001C9.29846 6.00001 9.49845 5.90001 9.59845 5.70001C9.79845 5.30001 9.79843 5.00001 9.79843 4.60001C9.79843 4.50001 9.69845 4.29999 9.59845 4.39999C9.49845 4.39999 9.59845 4.20001 9.59845 4.20001C9.69845 3.90001 9.69846 3.69999 9.69846 3.39999C9.79846 2.79999 9.69844 2.10001 9.39844 1.60001C9.09844 1.10001 8.59844 0.800011 7.99844 0.700011C7.89844 0.700011 7.89843 0.699987 7.79843 0.799987C7.69843 0.699987 7.49843 0.700005 7.29843 0.600005C6.39843 0.500005 5.49844 0.799993 4.89844 1.39999C4.39844 1.89999 4.29844 2.69999 4.39844 3.39999C4.39844 3.59999 4.39844 3.90001 4.49844 4.10001C4.69844 4.60001 4.49844 4.39999 4.49844 4.39999C4.39844 4.29999 4.29843 4.50001 4.29843 4.60001C4.29843 5.00001 4.29844 5.40001 4.49844 5.70001C4.59844 5.90001 4.69844 6.00001 4.89844 6.10001C4.99844 6.3 4.99845 6.59999 5.09845 6.79999C5.09845 6.89999 5.19843 7.10001 5.29843 7.20001C5.39843 7.30001 5.49845 7.4 5.59845 7.5V8.29999L5.29843 9.10001H5.19846C5.09846 9.10001 4.89844 9.19999 4.49844 9.29999C3.39844 9.59999 1.69846 10.1 1.69846 10.2C1.59846 10.4 1.49844 10.6 1.39844 10.8C2.49844 12.1 3.99846 12.9 5.69846 13.2H5.79843C5.89843 13.2 6.09843 13.3 6.29843 13.3H6.39844C6.49844 13.3 6.49845 13.3 6.59845 13.3C6.69845 13.3 6.69843 13.3 6.79843 13.3C6.89843 13.3 6.99845 13.3 7.09845 13.3C7.19845 13.3 7.29844 13.3 7.39844 13.3H7.49844C7.59844 13.3 7.59846 13.3 7.69846 13.3H7.79843C7.89843 13.3 7.99845 13.3 8.09845 13.3H8.19846C8.29846 13.3 8.39844 13.3 8.49844 13.2C10.1984 12.9 11.6984 12 12.7984 10.7Z' fill='white'/%3e%3cpath d='M7.09925 13.8C6.99925 13.8 6.89926 13.8 6.69926 13.8H6.09925C5.79925 13.8 5.69924 13.7 5.49924 13.7C3.69924 13.4 2.09924 12.4 0.899239 11.1C0.799239 11 0.699233 10.7 0.799233 10.6C0.899233 10.4 0.999251 10.2 1.09925 9.99998C1.09925 9.89998 1.19923 9.89997 1.29923 9.79997C1.29923 9.79997 1.39923 9.69997 4.29923 8.89997C4.59923 8.79997 4.69923 8.79999 4.79923 8.69999L4.99924 8.19999V7.79997C4.89924 7.69997 4.89923 7.69998 4.79923 7.59998C4.69923 7.39998 4.59924 7.19998 4.49924 7.09998C4.49924 6.99998 4.49924 6.89997 4.39924 6.79997C4.39924 6.69997 4.39924 6.59998 4.39924 6.59998C4.39924 6.59998 4.39923 6.59998 4.29923 6.59998C4.19923 6.49998 4.09924 6.39999 3.89924 6.19999C3.69924 5.79999 3.59925 5.29997 3.59925 4.79997C3.59925 4.59997 3.69923 4.49997 3.79923 4.39997C3.79923 4.19997 3.69926 3.99997 3.69926 3.79997C3.49926 2.99997 3.69923 2.09997 4.29923 1.39997C5.09923 0.699972 6.09925 0.299972 7.09925 0.399972C7.29925 0.399972 7.39925 0.499978 7.59925 0.499978H7.69926C8.49926 0.599978 9.19925 0.999984 9.59925 1.59998C9.99925 2.29998 10.0992 2.99997 9.99924 3.79997C9.99924 3.99997 9.99924 4.19997 9.89924 4.39997C9.99924 4.49997 9.99925 4.69997 10.0993 4.79997C10.0993 5.29997 9.99923 5.69999 9.79923 6.19999C9.69923 6.39999 9.49924 6.59999 9.39924 6.69999L9.29923 6.79997C9.29923 6.79997 9.29923 6.89998 9.29923 6.99998C9.29923 7.09998 9.29926 7.19997 9.19926 7.29997C9.19926 7.49997 9.09925 7.69997 8.99924 7.79997C8.99924 7.89997 8.89924 7.89997 8.89924 7.89997V8.39997L9.09925 8.89997C9.19925 8.99997 9.39926 8.99998 9.69926 9.09998C12.4993 9.89998 12.5993 9.99998 12.6993 9.99998C12.7993 9.99998 12.7992 10.1 12.7992 10.1C12.8992 10.3 12.9993 10.5 13.0993 10.7C13.1993 10.9 13.1992 11.1 12.9992 11.2C11.7992 12.5 10.1992 13.5 8.49924 13.8C8.39924 13.8 8.29926 13.8 8.19926 13.9H8.09925H7.79923H7.59925C7.49925 13.9 7.49924 13.9 7.39924 13.9H7.29923C7.29923 13.8 7.19925 13.8 7.09925 13.8ZM1.99924 10.7C2.99924 11.7 4.29923 12.5 5.79923 12.7C5.99923 12.7 6.09923 12.8 6.29923 12.8H6.79923C6.99923 12.8 7.09926 12.8 7.19926 12.8C7.29926 12.8 7.39924 12.8 7.49924 12.8H7.69926H7.79923H7.89924L8.59925 12.7C9.99925 12.4 11.2992 11.7 12.2992 10.6C11.8992 10.5 10.6993 10.1 9.69926 9.79997C9.39926 9.69997 9.19925 9.59998 9.09925 9.59998L8.89924 9.49998C8.79924 9.49998 8.59925 9.29999 8.59925 9.19999L8.29923 8.39997C8.29923 8.29997 8.29923 8.29999 8.29923 8.19999V7.39997C8.29923 7.19997 8.39924 7.09998 8.49924 6.99998L8.59925 6.89997C8.59925 6.89997 8.69926 6.79999 8.69926 6.69999C8.69926 6.59999 8.69926 6.59998 8.69926 6.49998C8.69926 6.29998 8.79924 5.99997 8.99924 5.79997C9.09925 5.69997 9.09926 5.69998 9.19926 5.59998C9.29926 5.49998 9.29923 5.49998 9.29923 5.49998C9.39923 5.29998 9.49924 5.09997 9.49924 4.79997L9.39924 4.69999C9.19924 4.49999 9.29923 4.29998 9.29923 4.09998C9.39923 3.79998 9.39924 3.59997 9.39924 3.29997C9.49924 2.69997 9.39926 2.19997 9.19926 1.79997C8.99926 1.39997 8.59926 1.19999 8.19926 1.19999C8.09926 1.29999 7.89923 1.29999 7.79923 1.19999C7.69923 1.19999 7.59924 1.09998 7.49924 1.09998C7.39924 1.09998 7.29926 1.09998 7.19926 1.09998C6.49926 1.09998 5.89924 1.39997 5.49924 1.79997C5.19924 2.19997 4.99926 2.69997 5.19926 3.29997V3.39997C5.19926 3.59997 5.19923 3.79998 5.29923 3.99998C5.39923 4.19998 5.49924 4.49997 5.39924 4.79997C5.29924 4.89997 5.29926 4.89998 5.19926 4.99998C5.19926 5.19998 5.29924 5.39998 5.39924 5.59998C5.39924 5.59998 5.39924 5.59999 5.49924 5.69999C5.59924 5.69999 5.59926 5.79997 5.69926 5.89997C5.89926 6.09997 5.99924 6.39998 5.99924 6.59998C5.99924 6.69998 5.99924 6.69999 5.99924 6.69999C5.99924 6.79999 6.09925 6.89997 6.09925 6.89997C6.09925 6.89997 6.19923 6.99998 6.29923 6.99998C6.39923 7.09998 6.49924 7.29997 6.49924 7.39997V8.19999C6.49924 8.29999 6.49924 8.29997 6.49924 8.39997L6.19926 9.19999C6.09926 9.29999 5.99924 9.49998 5.89924 9.49998L5.69926 9.59998C5.59926 9.59998 5.39925 9.69997 5.09925 9.79997C3.59925 10.1 2.39924 10.5 1.99924 10.7C1.99924 10.6 1.99924 10.7 1.99924 10.7Z' fill='%2393B5C5'/%3e%3c/svg%3e ");
      }
    }

    &__type {
      width: 205px;
      min-height: 78px;
      padding: 20px 5px 16px 18px;
      border: 1px solid #93B5C5;
      border-radius: 10px;
      align-self: flex-end;
    }

    &__object,
    &__price {
      padding-left: 32px;
      position: relative;

      &::before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &__object {
      margin-bottom: 10px;
      font-weight: 700;
      line-height: 17px;
      color: $green-blue;

      &::before {
        content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='23' viewBox='0 0 20 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.99963 22.8H3.09961C1.39961 22.8 0.0996094 21.4 0.0996094 19.8V7.70007C0.0996094 6.00007 1.49961 4.70007 3.09961 4.70007H6.89966V19.9001C6.89966 21.1001 7.79963 22.0001 8.99963 22.1001V22.8ZM3.09961 5.50006C1.89961 5.50006 0.899658 6.50007 0.899658 7.70007V19.8C0.899658 21 1.89961 22.0001 3.09961 22.0001H6.99963C6.39963 21.4001 6.09961 20.7 6.09961 19.8V5.50006H3.09961Z' fill='%2393B5C5'/%3e%3cpath d='M16.9993 22.8H9.19922C7.49922 22.8 6.19922 21.4 6.19922 19.8V3.30005C6.19922 1.60005 7.59922 0.300049 9.19922 0.300049H16.9993C18.6993 0.300049 19.9993 1.70005 19.9993 3.30005V19.8C19.9993 21.5 18.6993 22.8 16.9993 22.8ZM9.19922 1.10007C7.99922 1.10007 6.99927 2.10005 6.99927 3.30005V19.8C6.99927 21 7.99922 22.0001 9.19922 22.0001H16.9993C18.1993 22.0001 19.1992 21 19.1992 19.8V3.30005C19.1992 2.10005 18.1993 1.10007 16.9993 1.10007H9.19922Z' fill='%2393B5C5'/%3e%3cpath d='M3.09924 6.70007H3.99927C4.49927 6.70007 4.89929 7.10007 4.89929 7.60007V8.50006C4.89929 9.00006 4.49927 9.40005 3.99927 9.40005H3.09924C2.59924 9.40005 2.19922 9.00006 2.19922 8.50006V7.60007C2.19922 7.10007 2.59924 6.70007 3.09924 6.70007Z' fill='%2393B5C5'/%3e%3cpath d='M9.19873 6.70007H10.0988C10.5988 6.70007 10.9988 7.10007 10.9988 7.60007V8.50006C10.9988 9.00006 10.5988 9.40005 10.0988 9.40005H9.19873C8.69873 9.40005 8.29883 9.00006 8.29883 8.50006V7.60007C8.29883 7.10007 8.69873 6.70007 9.19873 6.70007Z' fill='%2393B5C5'/%3e%3cpath d='M9.19873 3.30005H10.0988C10.5988 3.30005 10.9988 3.70007 10.9988 4.20007V5.10007C10.9988 5.60007 10.5988 6.00006 10.0988 6.00006H9.19873C8.69873 6.00006 8.29883 5.60007 8.29883 5.10007V4.20007C8.29883 3.70007 8.69873 3.30005 9.19873 3.30005Z' fill='%2393B5C5'/%3e%3cpath d='M12.5992 6.70007H13.4993C13.9993 6.70007 14.3993 7.10007 14.3993 7.60007V8.50006C14.3993 9.00006 13.9993 9.40005 13.4993 9.40005H12.5992C12.0992 9.40005 11.6992 9.00006 11.6992 8.50006V7.60007C11.7992 7.10007 12.1992 6.70007 12.5992 6.70007Z' fill='%2393B5C5'/%3e%3cpath d='M12.5992 3.30005H13.4993C13.9993 3.30005 14.3993 3.70007 14.3993 4.20007V5.10007C14.3993 5.60007 13.9993 6.00006 13.4993 6.00006H12.5992C12.0992 6.00006 11.6992 5.60007 11.6992 5.10007V4.20007C11.7992 3.70007 12.1992 3.30005 12.5992 3.30005Z' fill='%2393B5C5'/%3e%3cpath d='M16.0992 6.70007H16.9993C17.4993 6.70007 17.8993 7.10007 17.8993 7.60007V8.50006C17.8993 9.00006 17.4993 9.40005 16.9993 9.40005H16.0992C15.5992 9.40005 15.1992 9.00006 15.1992 8.50006V7.60007C15.1992 7.10007 15.5992 6.70007 16.0992 6.70007Z' fill='%2393B5C5'/%3e%3cpath d='M16.0992 3.30005H16.9993C17.4993 3.30005 17.8993 3.70007 17.8993 4.20007V5.10007C17.8993 5.60007 17.4993 6.00006 16.9993 6.00006H16.0992C15.5992 6.00006 15.1992 5.60007 15.1992 5.10007V4.20007C15.1992 3.70007 15.5992 3.30005 16.0992 3.30005Z' fill='%2393B5C5'/%3e%3cpath d='M3.09924 10.2001H3.99927C4.49927 10.2001 4.89929 10.6001 4.89929 11.1001V12.0001C4.89929 12.5001 4.49927 12.9001 3.99927 12.9001H3.09924C2.59924 12.9001 2.19922 12.5001 2.19922 12.0001V11.1001C2.19922 10.6001 2.59924 10.2001 3.09924 10.2001Z' fill='%2393B5C5'/%3e%3cpath d='M9.19873 10.2001H10.0988C10.5988 10.2001 10.9988 10.6001 10.9988 11.1001V12.0001C10.9988 12.5001 10.5988 12.9001 10.0988 12.9001H9.19873C8.69873 12.9001 8.29883 12.5001 8.29883 12.0001V11.1001C8.29883 10.6001 8.69873 10.2001 9.19873 10.2001Z' fill='%2393B5C5'/%3e%3cpath d='M12.5992 10.2001H13.4993C13.9993 10.2001 14.3993 10.6001 14.3993 11.1001V12.0001C14.3993 12.5001 13.9993 12.9001 13.4993 12.9001H12.5992C12.0992 12.9001 11.6992 12.5001 11.6992 12.0001V11.1001C11.7992 10.6001 12.1992 10.2001 12.5992 10.2001Z' fill='%2393B5C5'/%3e%3cpath d='M16.0992 10.2001H16.9993C17.4993 10.2001 17.8993 10.6001 17.8993 11.1001V12.0001C17.8993 12.5001 17.4993 12.9001 16.9993 12.9001H16.0992C15.5992 12.9001 15.1992 12.5001 15.1992 12.0001V11.1001C15.1992 10.6001 15.5992 10.2001 16.0992 10.2001Z' fill='%2393B5C5'/%3e%3cpath d='M3.09924 13.7001H3.99927C4.49927 13.7001 4.89929 14.1001 4.89929 14.6001V15.5001C4.89929 16.0001 4.49927 16.4001 3.99927 16.4001H3.09924C2.59924 16.4001 2.19922 16.0001 2.19922 15.5001V14.6001C2.19922 14.1001 2.59924 13.7001 3.09924 13.7001Z' fill='%2393B5C5'/%3e%3cpath d='M9.19873 13.7001H10.0988C10.5988 13.7001 10.9988 14.1001 10.9988 14.6001V15.5001C10.9988 16.0001 10.5988 16.4001 10.0988 16.4001H9.19873C8.69873 16.4001 8.29883 16.0001 8.29883 15.5001V14.6001C8.29883 14.1001 8.69873 13.7001 9.19873 13.7001Z' fill='%2393B5C5'/%3e%3cpath d='M12.5992 13.7001H13.4993C13.9993 13.7001 14.3993 14.1001 14.3993 14.6001V15.5001C14.3993 16.0001 13.9993 16.4001 13.4993 16.4001H12.5992C12.0992 16.4001 11.6992 16.0001 11.6992 15.5001V14.6001C11.7992 14.1001 12.1992 13.7001 12.5992 13.7001Z' fill='%2393B5C5'/%3e%3cpath d='M16.0992 13.7001H16.9993C17.4993 13.7001 17.8993 14.1001 17.8993 14.6001V15.5001C17.8993 16.0001 17.4993 16.4001 16.9993 16.4001H16.0992C15.5992 16.4001 15.1992 16.0001 15.1992 15.5001V14.6001C15.1992 14.1001 15.5992 13.7001 16.0992 13.7001Z' fill='%2393B5C5'/%3e%3cpath d='M3.09924 17.2001H3.99927C4.49927 17.2001 4.89929 17.6001 4.89929 18.1001V19.0001C4.89929 19.5001 4.49927 19.9001 3.99927 19.9001H3.09924C2.59924 19.9001 2.19922 19.5001 2.19922 19.0001V18.0001C2.19922 17.6001 2.59924 17.2001 3.09924 17.2001Z' fill='%2393B5C5'/%3e%3cpath d='M9.19873 17.2001H10.0988C10.5988 17.2001 10.9988 17.6001 10.9988 18.1001V19.0001C10.9988 19.5001 10.5988 19.9001 10.0988 19.9001H9.19873C8.69873 19.9001 8.29883 19.5001 8.29883 19.0001V18.0001C8.29883 17.6001 8.69873 17.2001 9.19873 17.2001Z' fill='%2393B5C5'/%3e%3cpath d='M16.0992 17.2001H16.9993C17.4993 17.2001 17.8993 17.6001 17.8993 18.1001V19.0001C17.8993 19.5001 17.4993 19.9001 16.9993 19.9001H16.0992C15.5992 19.9001 15.1992 19.5001 15.1992 19.0001V18.0001C15.1992 17.6001 15.5992 17.2001 16.0992 17.2001Z' fill='%2393B5C5'/%3e%3cpath d='M12.5992 17.2001H13.4993C13.9993 17.2001 14.3993 17.6001 14.3993 18.1001V21.6001C14.3993 22.1001 13.9993 22.5001 13.4993 22.5001H12.5992C12.0992 22.5001 11.6992 22.1001 11.6992 21.6001V18.0001C11.7992 17.6001 12.1992 17.2001 12.5992 17.2001Z' fill='%2393B5C5'/%3e%3c/svg%3e ");

      }
    }

    &__price {
      font-weight: 500;
      line-height: 17px;
      color: $green-blue;

      &::before {
        content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='17' viewBox='0 0 22 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M21.4008 9.50006V7.00006C21.4008 6.90006 21.4008 6.70007 21.3008 6.60007C21.3008 6.50007 21.2007 6.40005 21.1007 6.40005C21.1007 6.40005 21.1007 6.30005 21.0007 6.30005C20.8007 6.10005 20.6008 6.00005 20.3008 5.90005V2.80005C20.3008 1.40005 19.2008 0.300049 17.8008 0.300049H14.8008H2.80078C1.40078 0.300049 0.300781 1.40005 0.300781 2.80005V13.8C0.300781 15.2 1.40078 16.3 2.80078 16.3H14.8008H17.8008C19.2008 16.3 20.3008 15.2 20.3008 13.8V10.6001C20.6008 10.6001 20.8007 10.4001 21.0007 10.2001C21.0007 10.2001 21.0007 10.1001 21.1007 10.1001C21.2007 10.0001 21.2008 9.90005 21.3008 9.90005C21.4008 9.70006 21.4008 9.60006 21.4008 9.50006ZM20.3008 9.60007H19.4008H17.4008H16.4008H14.0007C13.2007 9.60007 12.6007 9.00007 12.6007 8.20007C12.6007 7.40007 13.2007 6.80005 14.0007 6.80005H16.4008H17.4008H19.4008H20.3008C20.4008 6.80005 20.4008 6.90005 20.4008 6.90005V9.40005C20.4008 9.50006 20.3008 9.60007 20.3008 9.60007ZM19.4008 2.70007V5.80005H17.4008V2.70007C17.4008 2.10007 17.2008 1.60007 16.9008 1.20007H17.9008C18.7008 1.20007 19.4008 1.90007 19.4008 2.70007ZM2.90076 15.2001C2.10076 15.2001 1.40076 14.5001 1.40076 13.7001V2.70007C1.40076 1.90007 2.10076 1.20007 2.90076 1.20007H14.9008C15.7008 1.20007 16.4008 1.90007 16.4008 2.70007V5.80005H14.0007C12.7007 5.80005 11.6007 6.90007 11.6007 8.20007C11.6007 9.50007 12.7007 10.6001 14.0007 10.6001H16.4008V13.7001C16.4008 14.5001 15.7008 15.2001 14.9008 15.2001H2.90076ZM19.4008 13.7001C19.4008 14.5001 18.7008 15.2001 17.9008 15.2001H16.9008C17.2008 14.8001 17.4008 14.3001 17.4008 13.7001V10.6001H19.4008V13.7001Z' fill='%2393B5C5'/%3e%3cpath d='M4.80161 9.70005C4.60161 9.50005 4.30154 9.50005 4.10154 9.70005L3.00156 10.8C2.80156 11 2.80156 11.3 3.00156 11.5C3.10156 11.6 3.20159 11.6 3.40159 11.6C3.60159 11.6 3.70161 11.6 3.80161 11.5L4.90159 10.4C5.00159 10.3 5.00161 9.90005 4.80161 9.70005Z' fill='%2393B5C5'/%3e%3cpath d='M9.20115 4.9L8.10117 6.00001C7.90117 6.20001 7.90117 6.50002 8.10117 6.70002C8.20117 6.80002 8.3012 6.79999 8.5012 6.79999C8.7012 6.79999 8.80122 6.80002 8.90122 6.70002L10.0012 5.60001C10.2012 5.40001 10.2012 5.1 10.0012 4.9C9.8012 4.7 9.40115 4.7 9.20115 4.9Z' fill='%2393B5C5'/%3e%3cpath d='M8.4008 8.1C8.1008 8 7.90083 8.09999 7.80083 8.39999C7.70083 8.69999 7.80075 8.9 8.10075 9C8.70075 9.2 9.00075 9.70001 9.10075 10.2C9.10075 11 7.90078 11.8 6.50078 11.8C6.30078 11.8 6.00083 11.8 5.80083 11.7L6.60075 10.9C6.80075 10.7 6.80075 10.4 6.60075 10.2C6.40075 10 6.1008 10 5.9008 10.2L4.50078 11.6C4.40078 11.7 4.3008 11.9 4.4008 12.1C4.5008 12.3 4.50073 12.4 4.70073 12.5C5.30073 12.7 5.90078 12.9 6.50078 12.9C8.50078 12.9 10.1008 11.8 10.1008 10.3C10.0008 9.29998 9.3008 8.4 8.4008 8.1Z' fill='%2393B5C5'/%3e%3cpath d='M4.60034 8.29999C4.70034 8.29999 4.70042 8.29999 4.80042 8.29999C5.00042 8.29999 5.20042 8.2 5.30042 8C5.40041 7.7 5.30037 7.49999 5.00037 7.39999C4.40037 7.19999 4.10037 6.70001 4.00037 6.20001C4.00037 5.40001 5.20034 4.60001 6.60034 4.60001C6.80034 4.60001 7.10042 4.60001 7.30042 4.70001L6.50037 5.5C6.30037 5.7 6.30037 6.00001 6.50037 6.20001C6.70037 6.40001 7.00032 6.40001 7.20032 6.20001L8.60034 4.79999C8.70034 4.69999 8.80032 4.49999 8.70032 4.29999C8.60032 4.09999 8.60039 3.99999 8.40039 3.89999C7.80039 3.69999 7.20037 3.5 6.50037 3.5C4.50037 3.5 2.90039 4.60001 2.90039 6.10001C3.00039 7.20001 3.60034 7.99999 4.60034 8.29999Z' fill='%2393B5C5'/%3e%3cpath d='M14.0004 8.80008C14.3317 8.80008 14.6003 8.53147 14.6003 8.2001C14.6003 7.86873 14.3317 7.6001 14.0004 7.6001C13.669 7.6001 13.4004 7.86873 13.4004 8.2001C13.4004 8.53147 13.669 8.80008 14.0004 8.80008Z' fill='%2393B5C5'/%3e%3c/svg%3e ");
      }
    }

    &__guarantee {
      max-width: 593px;
      margin-right: 30px;

      p {
        color: $green-blue;
        font-weight: 500;

        span {
          font-weight: 700;

        }
      }
    }

    &__link {
      display: flex;
      max-width: max-content;
      white-space: nowrap;
      height: 40px;
      margin-bottom: 12px;
      padding: 12px 15px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 0.1em;
      color: $green-blue;
      border: 1px solid $green-blue;
      border-radius: 3px;
      transition: all .3s;

      &:hover {
        background-color: $green-blue;
        color: $white;
      }
    }

    &__generated-text {
      max-width: 835px;
      padding-top: 22px;
      margin-left: 260px;
      margin-bottom: 37px;
          h5 {
        margin-bottom: 20px;
        line-height: 17px;
      }

      p {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }

      a {
        font-weight: 700;
        color: $green-blue;
      }
    }

    &__button-submit {
      margin-left: 260px;
      height: 40px;
      padding: 0 15px;
      border: 1px solid $green-light;
      border-radius: 3px;
      color: $green-light;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.1em;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      transition: all .3s;

      &:hover {
        background-color: $green-light;
        color: $white;
      }

    }

    .choices__inner {
      height: 30px;
      padding: 1.5px 5px;
    }

    .choices[data-type*=select-one]::after {
      top: 5px;

    }

    .choices__item.choices__item--choice.is-selected.choices__item--selectable {
      background-color: transparent;
      color: $dark-light;
    }

    .choices__item.choices__item--choice.is-selected.choices__item--selectable::before {
      content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.09999 12.3C6.79999 12.3 6.60004 12.2 6.40004 12L0.8 6.40004C0.4 6.00004 0.4 5.40003 0.8 5.00003C1.2 4.60003 1.80002 4.60003 2.20002 5.00003L7.09999 9.90004L15.8 1.20002C16.2 0.800024 16.8 0.800024 17.2 1.20002C17.6 1.60002 17.6 2.20003 17.2 2.60003L7.8 12C7.6 12.2 7.39999 12.3 7.09999 12.3Z' fill='%233D3D3D'/%3e%3c/svg%3e ");
    }
  }


}
