.object-card-page {

  .object-card {

    &__subtitle {
      @include montserrat-bold;
      font-size: 20px;
      line-height: 24px;
      color: $black;
    }

    &__inner {
      background-color: $white;
      border-radius: 24px;
      padding: 52px 96px 43px 90px;
      margin-bottom: 36px;
    }

    &__info {
      padding-bottom: 35px;
      border-bottom: 1px solid $green-line;
    }

    &__info-top {
      padding-bottom: 30px;
      border-bottom: 1px solid $green-line;
    }

    &__unique-number {
      background-color: $blue-bg;
      padding: 18px 18px;
      border-radius: 30px;
      max-width: 253px;
      @include montserrat-bold;
      font-size: 20px;
      line-height: 24px;
      color: #000000;
      display: flex;
      align-items: center;

      svg {
        margin-right: 28px;
      }
    }


    &__info-main {
      padding-top: 30px;
      display: flex;
      justify-content: space-between;

      .subtitle {
        margin-bottom: 43px;
      }
    }

    &__info-main-left {
      margin-right: 95px;
      flex-grow: 1;
    }

    &__info-list {
      li {
        display: flex;

        &:not(:last-child) {
          margin-bottom: 20px;
        }

        .object-card__info-list-title {
          min-width: 185px;
          margin-right: 35px;
          @include montserrat-semibold;
          font-size: 14px;
          line-height: 17px;
        }

        .object-card__info-list-content {
          position: relative;
          z-index: 10;

          span {
            font-weight: 700;
          }

          max-width: 382px;
        }

        .object-card__info-list-download {
          display: flex;
          max-width: max-content;
          align-items: center;
          margin-top: 5px;
          font-weight: 500;
          color: $green-blue;

          span {
            border-bottom: 1px solid transparent;
          }

          &:hover {
            span {
              border-color: $green-blue;
            }
          }

          svg {
            margin-right: 9px;
          }
        }
      }
    }


    &__aside {
      width: 270px;
      min-width: 270px;
      padding-top: 15px;
    }

    &__aside-type {
      margin-bottom: 40px;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: $green-blue;
    }

    &__aside-status {
      @include montserrat-medium;
      color: $green-blue;
      background-color: $blue-bg;
      border-radius: 25px;
      border: 1px solid $green-blue;
      padding: 11px 13px;
      max-width: 270px;
      display: flex;
      align-items: center;
      margin-bottom: 35px;

      svg {
        margin-right: 8px;
      }
    }

    &__aside-auction {
      background-color: $blue-bg;
      border-radius: 3px;
      padding: 21px 50px 21px 16px;
      margin-bottom: 10px;

      h3 {
        @include montserrat-bold;
        color: $green-blue;
        margin-bottom: 15px;
      }

      li {
        padding-left: 22px;
        position: relative;

        &:not(:last-child) {
          margin-bottom: 20px;
        }

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 7px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: #93B5C5;
        }

        span {
          font-weight: 700;
          color: $green-blue;

          span {
            font-weight: 400;
          }
        }
      }

    }

    &__aside-link {
      display: block;
      border: 1px solid $green-blue;
      border-radius: 3px;
      color: $green-blue;
      padding: 11px 18px;
      transition: all .3s;

      span {
        font-weight: 700;
      }

      &:hover {
        background-color: $green-blue;
        color: $white;
      }
    }


    &__docs {
      padding: 30px 0;
      border-bottom: 1px solid $green-line;
    }

    &__docs-top {
      display: flex;
      align-items: center;
      margin-bottom: 33px;

      svg {
        margin-right: 12px;
      }
    }

    .object-doc-swiper {
      padding-left: 30px;

      &__img {
        margin-bottom: 13px;
      }

      &__link {
        color: $green-blue;
      }

      &__img {
        position: relative;
        width: 74%;
        padding-top: 91%;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }
      }


      &__swiper-button-prev,
      &__swiper-button-next {
        position: absolute;
        top: calc(50% - 30px);
        z-index: 50;
      }

      &__swiper-button-prev {
        left: 0;
      }

      &__swiper-button-next {
        right: 15px;
      }
    }


    &__picture {
      padding: 35px 0 20px;
      border-bottom: 1px solid $green-line;
    }

    &__picture-top {
      display: flex;
      align-items: center;
      margin-bottom: 18px;

      svg {
        margin-right: 12px;
      }

    }

    .object-pic-swiper {
      padding-left: 30px;

      &__img {
        margin-bottom: 10px;
      }

      &__link {
        color: $green-blue;
      }

      &__img {
        position: relative;
        width: 73%;
        padding-top: 73%;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }
      }


      &__swiper-button-prev,
      &__swiper-button-next {
        position: absolute;
        top: calc(50% - 25px);
        z-index: 50;
      }

      &__swiper-button-prev {
        left: 0;
      }

      &__swiper-button-next {
        right: 15px;
      }
    }

    &__btns {
      padding-top: 30px;
      display: flex;
      align-items: center;

      .object-card__btns-link {
        margin-right: 27px;
      }

      .object-card__edit-btn {
        position: relative;
        padding-left: 15px;
        padding-right: 30px;
        margin-right: 27px;
        min-width: 276px;

        svg {
          position: absolute;
          right: 12px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .object-card__btns-prompt {
        @include montserrat-medium;
        font-size: 12px;
        line-height: 15px;
        color: $green-blue;
      }

      .object-card__btns-prompt {
        padding: 7px;
        display: flex;
        align-items: center;
        background-color: $blue-bg;
        max-width: 330px;

        svg {
          min-width: 34px;
          margin-right: 10px;
        }
      }
    }
  }
}
