
.objCardImages {
  padding: 30px 0;
  border-bottom: 1px solid #D2E7EFFF;
}

.objCardSlider {

    img {
      height: 120px;
    }

}



.objCardImagesTop  {
  display: flex;
  align-items: center;
  margin-bottom: 33px;

  svg {
    margin-right: 12px;
  }
}
