.regModal {
  p {
    text-align: center
  }
  form {
    margin-bottom: 30px;
    label {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      margin-bottom: 3px;
      display: block;
    }

    p {
      text-align: left;
    }

  }
}

.inputGroup {
  width: 80%;
  margin-bottom: 15px;

  p {
    font-weight: 700;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.formStep {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.borderLine {
  width: 100%;
  height: 1px;
  margin-top: 15px;
  margin-bottom: 25px;
  background-color: #D2E7EF;
}

.borderBottom {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #D2E7EF;
}

.successStep {
  p {
    margin: 0 auto;
    max-width: 360px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.mainDropzone {
  background-color: #fff;
  border-radius: 3px;
  padding: 10px 20px 20px 20px;

  h4 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #BFBDC7;
    margin-bottom: 5px;
    pointer-events: none;
  }

}

.dropzoneBtn {
  cursor: pointer;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #337390;
  margin-bottom: 12px;
}


.filesList {
  display: flex;

  li {
    &:not(:last-child) {
      margin-right: 10px;
    }

    width: 40px;
    height: 40px;
  }
}