html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 340px;
  overflow-x: hidden;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #F2F2F2;
}

#root {
  height: 100vh;
  flex-direction: column;
  display: flex;
}

main {
  flex-grow: 1;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
}

svg {
  pointer-events: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

.custom-select {
  &__control {
    cursor: pointer !important;
    min-height: 35px !important;
    height: 35px !important;
  }

  &__single-value,
  &__placeholder {
    padding-bottom: 4px;
  }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

.container {
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 15px;
}

.nav-link {
  display: block;
  padding: 6px 10px;
  color: #ffffff;
  transition: all .3s;
  border-radius: 20px;

  &._active {
    background-color: #337390;
  }

  &:hover {
    background-color: #2A8D9C;
  }
}


.nav-slider {
    padding: 0 30px;
    margin: 0 -30px;
}
