$white: #ffffff;
$black: #000000;

$main-bg: #F2F2F2;
$second-bg: #D9D9D9;
$blue-bg: #F4F7FB;

$dark: #131313;
$dark-light: #3D3D3D;
$link: #51828E;
$blue: #8FC3D8;


$hover-green: #2A8D9C;
$green-light: #16B6C0;
$green-blue:  #337390;
$green-line:  #D2E7EF;

$red: #E83C00;


@mixin montserrat-regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
@mixin montserrat-medium {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
@mixin montserrat-semibold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
@mixin montserrat-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}


